.banner-life-1 {
  background-image: url(/img/user/Banner.jpg);
}
.banner-life-2 {
  background-image: url(/img/user/Banner2.jpg);
}
/* user edit */
.bgfeet1 {
  position: absolute;
  width: 20%;
  right: 78%;
  top: 13%;
  z-index: 0;
}

.bgfeet2 {
  position: absolute;
  width: 20%;
  left: 77%;
  top: 70%;
  z-index: 0;
}

.book {
  display: flex;
  width: 100%;
  margin-bottom: 40px;
  padding: 0;
  border-radius: solid 3px var(--black);
  justify-content: center;
}

.book h2 {
  background-color: var(--bean-paste);
  color: var(--white);
  margin: 0;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bookItems {
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

/* .bookItem {
  width: 75%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin: 1rem 0 0 4rem;
  padding-bottom: 10px;
} */

/* .bookItem img {
  margin-right: 1rem;
} */

/* .items h5 {
  margin: 1.5rem;
  position: relative;
} */

.rope {
  width: 3%;
  height: 75%;
  background-image: url('/img/user/user-rope.png');
  background-repeat: repeat-y;
  position: absolute;
  right: 99%;
  z-index: 2;
}

.bookContainer {
  width: 900px;
  height: auto;
  margin: 50px auto;
  background: white;
  border-radius: 30px;
  position: relative;
  overflow: visible;
}

.bookContainer h2 {
  border-radius: 30px 30px 0 0;
}

/* .btnItem {
  display: flex;
  justify-content: flex-end;
  margin: 1rem 2rem;
  z-index: 2;
} */

/* .btnConfirm {
  margin: 0.5rem;
  padding: 0.2rem 0.8rem;
  font-size: var(--font-size-h4);
  background-color: var(--khaki);
  border-radius: 80px;
} */

/* .text-danger {
  font-size: 10px;
  padding: 1rem;
  align-items: end;
} */

/* .input {
  width: 280px;
} */
/* 
.bell {
  position: absolute;
  width: 18%;
  left: 83%;
} */
/* 
.feet {
  position: absolute;
  width: 20%;
  right: 84%;
  top: 84%;
  z-index: 1;
} */

/* input */
/* .group {
  position: relative;
  margin: 10px;
} */

/* .input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 400px;
  border: none;
  border-bottom: 1px solid #757575;
} */
/* 
.input:focus {
  outline: none;
} */

/* .label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
} */

/* .input:focus ~ .label,
.input:valid ~ .label {
  top: -20px;
  font-size: 14px;
  color: #5264ae;
} */
/* 
.bar {
  position: relative;
  display: block;
  width: 400px;
} */

/* .bar::before,
.bar::after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5264ae;
  transition: 0.2s ease all;
} */

/* .bar::before {
  left: 50%;
} */

/* .bar::after {
  right: 50%;
} */

/* .input:focus ~ .bar::before,
.input:focus ~ .bar::after {
  width: 50%;
} */

/* .highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
} */

/* .input:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease;
} */
/* 新增樣式
.label.active {
  top: -20px;
  font-size: 14px;
  color: #5264ae;
}

@keyframes inputHighlighter {
  from {
    background: #5264ae;
  }

  to {
    width: 0;
    background: transparent;
  }
} */

/* ----------------------- */

.remove{
  display: none;
  transition: all 0.2s ease-in-out;
}

.pet-card {
  width: 48%;
  display: flex;
  justify-content: space-between;
}

.pet-card > img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 4px 4px 10px;
}

.card-desc {
  width: 100%;
  padding: 0 0 0 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  font-weight: 600;
  color: rgba(24, 39, 71, 0.5);
}

.card-desc > p {
  padding: 0;
  margin: 0;
  width: 100%;
  letter-spacing: 2px;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 3rem;
  color: var(--brown);
}

.card-desc > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-desc > div > img {
  height: 20px;
  width: 20px;
  object-fit: contain;
  opacity: 50%;
}

.trash-icon{
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.cta {
  border: none;
  cursor: pointer;
  background-color: var(--khaki);
  width: 100%;
  height: 50px;
  border-radius: 50px;
}

.cta:hover {
  border: none;
  cursor: pointer;
  background-color: var(--khaki);
  width: 100%;
  height: 50px;
  border-radius: 50px;
}

.cta span {
  padding-bottom: 7px;
  padding-right: 15px;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.cta svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: black;
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* 手機版 */
@media screen and (min-width: 414px) and (max-width: 828px) {
    /* banner */
    .banner-life-2 {
      background-image: url(/img/user/Banner.jpg);
    }
  
    .select-phone {
      flex-wrap: wrap;
    }
    .select-title {
      font-size: 18px;
    }

  .bookInfo {
    margin-top: -65px;
  }
  .rope {
    width: 9.5%;
    height: 80%;
    right: 98%;
  }

  .container {
    width: 100%;
  }

  .book {
    width: 100%;
    margin-top: 100px;
  }
  .bookContainer {
    width: 100%;
  }
  .stickers {
    width: 80px;
    height: 80px;
  }

  .stickers img {
    width: 100%;
    height: auto;
  }

  .bookItems {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }

  .user {
    margin: 10px;
    width: 95%;
    border-bottom: none;
  }

  .bookItem h6 {
    display: none;
  }

  .bookItem img {
    width: 10%;
    margin: 10px;
  }

  .pet-card {
    width: 80%;
    margin: 20px;
  }

  .pet-card > img {
    height: 150px;
    width: 150px;
    border-radius: 10px;
  }

  .card-desc {
    width: 180px;
    padding: 0 0 0 5%;
  }

  .card-desc > span {
    font-size: 14px;
  }

  .card-desc > p {
    padding: 0;
    margin: 0;
    letter-spacing: 2px;
    font-size: 20px;
    line-height: 2rem;
  }

  .card-desc > div {
    font-size: 14px;
  }

  .card-desc > div > img {
    height: 20px;
    width: 20px;
  }

  .cta {
    width: 100%;
    height: 30px;
    border-radius: 50px;
  }

  .cta span {
    padding-bottom: 3px;
    padding-right: 15px;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .cta:hover {
    height: 30px;
  }

  .items h5 {
    font-size: var(--font-size-h6);
    margin: 0.8rem;
  }

  .bookItem {
    margin: 15px 0 5px 15px;
    width: 100%;
    text-align: left;
    border-bottom: none;
  }

  .input {
    width: 80%;
  }

  .btnItem {
    justify-content: center;
    margin: 10px;
  }

  .btnConfirm {
    margin: 0.1rem;
    padding: 0.3rem 0.4rem;
    font-size: var(--font-size-h6);
  }

  .bell {
    width: 35%;
    left: 70%;
    top: 7%;
  }

  .feet {
    width: 30%;
    right: 75%;
    top: 88%;
  }

  .bar {
    width: 164px;
  }

  .bgfeet1 {
    width: 50%;
    right: 65%;
    top: 20%;
  }

  .bgfeet2 {
    width: 35%;
    left: 64%;
    top: 73%;
  }
}
