.banner-life-1 {
  background-image: url(/img/user/Banner.jpg);
}
.banner-life-2 {
  background-image: url(/img/user/Banner2.jpg);
}

/* user edit */
.bgfeet1 {
  position: absolute;
  width: 20%;
  right: 80%;
  top: 50%;
  z-index: -1;
}

.bgfeet2 {
  position: absolute;
  width: 20%;
  left: 77%;
  top: 90%;
  z-index: -1;
}

.book {
  display: flex;
  width: 100%;
  padding: 0;
  border-radius: solid 3px var(--black);
  justify-content: center;
}

.bookInfo {
  width: 45%;
  margin: 3rem 0;
}

.input {
  width: 100%;
  border: none;
}
.rope {
  width: 3%;
  height: 60%;
  background-image: url('/img/user/user-rope.png');
  background-repeat: repeat-y;
  position: absolute;
  z-index: 1;
  top: 83%;
  left: 26%;
}

.bookContainer {
  width: 100%;
  height: auto;
  background: white;
  border-radius: 30px;
  position: relative;
  overflow: visible;
}

.bookContainer h2 {
  border-radius: 30px 30px 0 0;
  width: 100%;
}

.user {
  width: 80%;
  display: flex;
  border-bottom: 1px solid black;
  margin: 1rem 4rem;
  padding-bottom: 10px;
  align-items: center;
}

.stickers {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
}

.stickers img {
  width: 100%;
  height: auto;
}

.book h2 {
  background-color: var(--bean-paste);
  color: var(--white);
  margin: 0;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bookItem {
  width: 70%;
  margin-left: 4rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.bookContainer h5 {
  margin: 2rem;
  width: 120px;
  text-align: right;
}

.btnItem {
  margin: 0.5rem;
  display: flex;
  justify-content: flex-end;
}

.btnConfirm {
  margin: 0.5rem;
  padding: 0.3rem 1.2rem;
  font-size: var(--font-size-h3);
  background-color: var(--khaki);
  border-radius: 80px;
}

@media screen and (min-width: 414px) and (max-width: 828px) {
  /* banner */
  .banner-life-2 {
    background-image: url(/img/user/Banner.jpg);
  }

  .select-phone {
    flex-wrap: wrap;
  }
  .select-title {
    font-size: 18px;
  }
  /* user-info */
  .rope {
    width: 9.5%;
    height: 80%;
    right: 98%;
    display: none;
  }

  .container {
    width: 100%;
  }

  .book {
    width: 100%;
  }
  .bookInfo {
    width: 90%;
  }
  .bookContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .stickers {
    width: 80px;
    height: 80px;
  }

  .stickers img {
    width: 100%;
    height: auto;
  }

  .user {
    margin: 10px;
    width: 95%;
    border-bottom: none;
  }

  .bookItem img {
    width: 10%;
    margin: 10px;
  }

  .bookItem {
    margin: 15px 0 0 0px;
    width: 80%;
    text-align: left;

    /* border-bottom: none; */
  }
  .bookContainer h2 {
    width: 100%;
    font-size: 24px;
  }
  .bookContainer h5 {
    font-size: 14px;
    margin: 0 5px;
    width: 25%;
  }

  .input {
    width: 80%;
    font-size: 14px;
  }

  .btnItem {
    justify-content: center;
    margin: 10px 20px;
  }

  .btnConfirm {
    margin: 0.1rem 0.2rem;
    padding: 0.3rem 0.5rem;
    font-size: var(--font-size-h6);
  }

  .bell {
    width: 35%;
    left: 50%;
    top: 7%;
  }

  .feet {
    width: 30%;
    right: 75%;
    top: 88%;
  }

  .bar {
    width: 164px;
  }

  .bgfeet1 {
    width: 50%;
    right: 65%;
    top: 52%;
  }

  .bgfeet2 {
    width: 35%;
    left: 64%;
    top: 130%;
  }
}
