@import '~bootstrap/scss/bootstrap';
/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 設定全域變數 */
:root {
  --black: #000000;
  --white: #ffffff;
  --beige: #fef9f2;
  --brown: #967b4a;
  --reddish-brown: #895e3c;
  --khaki: #d7b67a;
  --bean-paste: #d3ad9a;
  --yellow: #fecc5f;
  --light-yellow: #faeed1;
  --creamy-yellow: #fdf7e4;
  --gray: #ebebeb;
  --dark-gray: #ebe6d4;
  --bright-gary: #f5ebd9;
  --light-gray: #dbd2c6;
  --deep-gray: #89837c;
  --light-pink: #fce9d4;
  --red: #e83d3d;
  --light-blue: #b9d8ef;
  --deep-blue: #292f36;
  --dark-green: #018786;
  --pink: #f29999;
  --blue: #427d9d;
  --green: #b6c12f;
  --border-color: #895e3c;
  --font-family: 'Noto Sans TC', sans-serif;
  --font-size-h1: 2rem;
  /* h1 標題文字大小 ,32px*/
  --font-size-h2: 1.8rem;
  /* h2 標題文字大小,28.8px */
  --font-size-h3: 1.5rem;
  /* h3 標題文字大小,24px  */
  --font-size-h4: 1.25rem;
  /* h4 標題文字大小,20px */
  --font-size-p: 16px;
  /* 段落文字大小 */
  --bg-color: #fdf7e4;
}
h1 {
  font-size: var(--font-size-h1);
}
h2 {
  font-size: var(--font-size-h2);
}
h3 {
  font-size: var(--font-size-h3);
}
h4 {
  font-size: var(--font-size-h4);
}
p {
  font-size: var(--font-size-p);
}
a {
  color: #89837c;
  text-decoration: none;
}
ul,
ol {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
body {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  font-family: var(--font-family);
  background-color: var(--bg-color) !important;
}

.scrollToTop{
  height: 70px !important;
  width: 70px !important;
  border-radius: 50px !important;
  z-index: 5000 !important;
  background-color: var(--bean-paste) !important;
}

.scrollToTop svg{
  stroke-width: 15px !important; /* 設置邊框厚度為 2 */
  stroke: white !important; /* 設置邊框顏色為黑色，確保能看見邊框 */
}

.container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nike-loader-bg {
  content: '';
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  /* margin-bottom: 40px; */
  /* margin-top: 56px; */
  background-color: rgba(173, 181, 184, 0.8);
  z-index: 9999;
}
.nike-loader {
  position: absolute;
  top: calc(50% - 4em);
  left: calc(50% - 7.5em);
  width: auto;
  height: 8em;
  font-weight: bold;
  display: inline-block;
}
@media screen and (min-width: 1025px) {
  .nike-loader {
    top: calc(50% - 2.5em);
    left: calc(50% - 4em);
    width: auto;
    height: 5em;
  }
}
