body {
  /* overflow-x: hidden;
  overflow-y: scroll; */
  overflow: hidden;
  /* height: 100svh; */
  scroll-snap-type: y mandatory;
  scroll-snap-points-y: repeat(100vh);
}

header {
  z-index: 2;
  scroll-snap-align: start;
  position: relative;
}

/* banner */
.banner {
  background-image: url("../images/background-notice.png");
  background-position-y: 25%;
  z-index: 1;
  position: relative;
}

footer {
  scroll-snap-align: start;
  z-index: 1;
  position: relative;
}

.roll {
  overflow-y: scroll;
  height: 100svh;
  scroll-snap-points-y: repeat(100svh);
  scroll-snap-type: y mandatory;
}

section {
  margin: 0;
  width: 100%;
  height: 100svh;
  display: flex;
  justify-content: space-between;
  scroll-snap-align: start;
  overflow-x: hidden;
  /* align-items: center; */
}

br {
  display: none;
}

.br-block {
  display: block;
}

section>hr {
  opacity: 1;
  border-top: 5px solid;
  border-radius: 50px;
  z-index: 1;
}

section>h2 {
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 500;
  z-index: 1;
}

.title {
  height: 100svh;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  /* scroll-snap-type: none; */
  padding: 0 10% 0 10%;
  flex-direction: column;
  justify-content: center;
  background-color: var(--beige);
}

.title>h1 {
  font-size: 4.5rem;
  color: var(--dark-green);
  font-weight: 600;
  z-index: 1;
}

.title>img {
  width: 60%;
  position: absolute;
  top: 20%;
  right: -8%;
  z-index: 1;
}

.age {
  width: 100%;
  align-items: center;
  padding: 0 10% 0 10%;
  background-color: #EBFAFF;
}

.age>img {
  width: 50%;
  z-index: 1;
}

.choose {
  width: 100%;
  align-items: center;
  padding: 0 10% 0 10%;
  background-color: var(--beige);
}

.choose>div>h2 {
  font-size: 3rem;
  line-height: 4rem;
  z-index: 1;
  position: relative;
}

.choose>div>ul {
  flex-direction: column;
  list-style-image: url(../images/icon_pet_ulli.png);
  /* text-align: justify; */
}

.choose>div>ul>li {
  width: 100%;
  text-align: justify;
  font-size: 2rem;
  line-height: 3.125rem;
  margin-top: 30px;
  z-index: 1;
}

.choose>img {
  width: 50%;
  z-index: 1;
}

.docs {
  background-color: #EBFAFF;
  padding: 0 15%;
  align-items: center;
}

.docs>img {
  width: 50%;
  z-index: 1;
}

.register {
  padding: 0 10%;
  align-items: center;
  background-color: #FFF8EC;
}

.register>img {
  width: 50%;
  z-index: 1;
}

.prevent {
  padding: 0 10%;
  align-items: center;
}

.prevent>img {
  width: 50%;
  z-index: 1;
}

.fix {
  width: 100%;
  align-items: center;
  padding: 0 10% 0 10%;
  background-color: var(--beige);
}

.fix>div>h2 {
  font-size: 3rem;
  line-height: 4rem;
  z-index: 1;
  position: relative;
}

.fix>div>ul {
  flex-direction: column;
  list-style-image: url(../images/icon_pet_ulli.png);
  /* text-align: justify; */
}

.fix>div>ul>li {
  width: 100%;
  text-align: justify;
  font-size: 2rem;
  line-height: 3.125rem;
  margin-top: 30px;
  z-index: 1;
}

.fix>img {
  width: 50%;
  z-index: 1;
}

.free {
  align-items: center;
  padding: 0 15%;
  background-color: #EBFAFF;
}

.free img {
  width: 50%;
  z-index: 1;
}


/* 背景圖案 */
.paws1 {
  position: absolute;
  /* z-index: -1; */
  animation-name: paws1;
  animation-duration: 8s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  transform: rotate(45deg);
  height: 150px;
  object-fit: contain;
  left: -5%;
  top: 80%;
}

@keyframes paws1 {
  from {
    transform: rotate(45deg);
  }

  to {
    left: 93%;
    /* top: 120%; */
    transform: rotate(730deg);
  }
}

.paws2{
  position: absolute;
  animation-name: paws2;
  animation-duration: 10s;
  animation-direction: ease-in;
  animation-iteration-count: infinite;
  transform: rotate(200deg);
  right: 70%;
  top: 0%;
}

@keyframes paws2{
  from{
    right: 70%;
    top: 0%;
  }
  50%{
    right: 90%;
    top: 20%;
    transform: rotate(80deg);
  }
  75%{
    /* right: 70%;
    top: 30%;
    transform: rotate(100deg); */
  }
  to{
    right: 70%;
    top: 0%;
  }
}


/* 手機版 */
@media screen and (max-width: 414px) {
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  section>h2 {
    font-size: 2.25rem;
  }

  br {
    display: block;
  }

  .title>h1 {
    font-size: 3.125rem;
    line-height: 70px;
  }

  .title>h2 {
    font-size: 2.5rem;
  }

  .title>hr {
    transform: rotate(90deg);
    position: relative;
    right: 50%;
    padding: 0;
    margin-left: -10%;
  }

  .title>img {
    top: 62%;
    width: 85%;
  }

  .age {
    flex-direction: column-reverse;
  }


  .age>img {
    width: 100%;
  }

  .choose {
    width: 100%;
  }

  .choose>div>h2 {
    font-size: 2.5rem;
    line-height: 3.125rem;
  }

  .choose>div>ul>li {
    font-size: 1.25rem;
    line-height: 2rem;
    margin-top: 15px;
  }

  .choose>img {
    width: 50%;
    position: relative;
    right: -30%;
  }

  .docs>img {
    width: 100%;
  }

  .register>img {
    width: 100%;
  }

  .prevent>img {
    width: 100%;
    margin: -10%;
  }

  .fix>div>h2 {
    font-size: 2.5rem;
    line-height: 3.125rem;
  }

  .fix>div>ul>li {
    font-size: 1.25rem;
    line-height: 2rem;
    margin-top: 15px;
  }

  .fix>img {
    width: 80%;
    position: relative;
    right: -20%;
    margin: -10%;
  }

  .free {
    flex-direction: column-reverse;
  }

  .free>img {
    width: 100%;
  }

  .paws2{
    display: none;
  }

  .paws1 {
    position: absolute;
    /* z-index: -1; */
    animation-duration: 5s;
    transform: rotate(45deg);
    height: 80px;
    object-fit: contain;
    left: -5%;
    top: 85%;
  }

  @keyframes paws1 {
    from {
      transform: rotate(45deg);
    }

    to {
      left: 70%;
      transform: rotate(340deg);
    }
  }
}