.reserve{
  background-color: var(--creamy-yellow);
  height: 60rem;
  padding-top: 2rem;
  padding-bottom: 3rem;
}
.reserve .container {
  width: 80%;
  height: 100%;
  margin:auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  position: relative;
}
.reserve .foot {
  position: absolute;
  width: 8rem;
  top:44%;
  left: 62%;
  z-index: 4;
}
.reserve .print {
  position: absolute;
  width: 8rem;
  top:87%;
  left: -9%;
  z-index: 1;
  transform: rotate(0deg);
}
.reserve-inner{
  display: none;
}
.play{
  display: none;
}
.reserve .reserve-title {
 width: 90%;
 /* height:10%; */
 display: flex;
 flex-direction: column;
 align-items: start;
 margin: 0rem auto;
 /* line-height: 1.5rem; */
 color: var(--border-color);
}
.reserve .reserve-title .lap-top {
  display: none;
 }
 .reserve .reserve-title .reserve-title-h1{
  margin:0rem;
  font-size:1.6rem;
 }
 .reserve .reserve-title .phone{
  display: flex;
  justify-content:start;
  align-items: start;
  margin-bottom:0.3rem;
 }
 .reserve .reserve-img{
  width: 90%;
  height: 23rem;
  position: relative;
  left:5%;
  /* top:1% */
 }
 .reserve .reserve-img img{
  width: 100%;
  height: 100%;
  border-radius: 3%;
 }
 .reserve .reserve-img .img-title{
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  width: 100%;
  height: 100%;
  top: 10px;
  color: var(--creamy-yellow);
 }
 .reserve .img-title .img-h1{
  order: 2;
  width: 10%;
  height: 100%;
  text-align: center;
  margin-left: 20px;
  font-size: 1.25rem;
  line-height: 1.875rem;
 }
 .reserve .img-title .img-p{
display: none;
 }
 .reserve .reserve-form{
  position: relative;
  height:40rem;  
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  box-shadow: 5px 8px 2px rgba(0, 0, 0, 0.2);
 }
 .reserve .input-group {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: var(--reddish-brown);
}

.reserve .form-input {
  --width-of-input: 200px;
  --border-height: 1px;
  --border-before-color: rgba(221, 221, 221, 0.39);
  --border-after-color: var(--border-color);
  --input-hovered-color: var(--bean-paste);
  position: relative;
  width: var(--width-of-input);
}

/* styling of Input */
.reserve .form-input .input {
  color: var(--black);
  font-size: 1rem;
  background-color: transparent;
  width: 100%;
  box-sizing: border-box;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
  border-bottom: var(--border-height) solid black;
}

/* styling of animated border */
.reserve .form-input .input-border {
  position: absolute;
  background: var(--border-after-color);
  width: 0%;
  height: 3px;
  bottom: 0;
  left: 0;
  transition: 0.5s;
}

/* Hover on Input */
.reserve .form-input input:hover {
  background: var(--input-hovered-color);
}

.reserve .form-input input:focus {
  outline: none;
}

/* here is code of animated border */
.reserve input:focus~.input-border {
  width: 100%;
}

.reserve input[type=date]:invalid::-webkit-datetime-edit {
  color: black;
}
.reserve .input-h4{
  margin-bottom: 0rem;
  font-size:1.2rem;
  font-weight:border;
}
.reserve .button {
  outline: none;
  display:flex;
  align-items:center;
  justify-content:center;
  height:1rem;
  color: #DAA06D;
  padding: 1em;
  padding-left: 3em;
  padding-right: 3em;
  border: 2px dashed #DAA06D;
  border-radius: 15px;
  background-color: #EADDCA;
  box-shadow: 0 0 0 4px #EADDCA, 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
  transition: .1s ease-in-out, .4s color;
  z-index: 2;
}

.reserve .button:active {
  transform: translateX(0.1em) translateY(0.1em);
  box-shadow: 0 0 0 4px #EADDCA, 1.5px 1.5px 2.5px 1.5px rgba(0, 0, 0, 0.5);
}
.thanks {
  width: 100%;
  position:relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  text-align: center;
  letter-spacing: 1.2rem;
  color: var(--border-color);
  background-color: white;
}
.thanks .thanks-title{
  text-align: center;
  font-size: 1rem;
  font-weight:bolder;
  padding-top:0.5rem;
  padding-bottom:0.5rem;
}
.thanks .foot{
  position:absolute;
  width:4rem;
  height:4rem;
  top:20%;
  right:3%;
  animation:  bounce 2s infinite, changeColor 3s infinite alternate;
}
@keyframes bounce {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(-20px) translateX(-10px) rotate(180deg);
  }
  100% {
    transform: translateY(0) translateX(0) rotate(360deg);
  }
}
@keyframes changeColor {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
@media screen and (min-width: 1025px) {
  .play{
    display: block;
  }
  .reserve {
    /* width: 100%; */
    height: 60rem;
    margin: 3rem auto 1rem auto;
  }

  .reserve .container {
    width: 80%;
    height: 100%;
    margin: auto;
    position: relative;
    flex-direction: column;
    align-items: start;
  }

  .reserve .foot {
    position: absolute;
    width: 10rem;
    top: 18%;
    left: 76%;
    z-index: 4;
  }
  .reserve .print {
    position: absolute;
    width: 10rem;
    top:71.5%;
    left:48%;
    z-index: 3;
    transform: rotate(0deg);
  }
  .reserve .reserve-title {
    width: 40%;
    height:auto;
    position: absolute;
    margin: 0px auto;
    top:5%;
    left: 18%;
    line-height: 0rem;
    color: var(--border-color);
  }
  .reserve .reserve-title h1{
    font-size:2rem;
    font-weight: bolder;
  }
  .reserve .reserve-title .lap-top {
    display: block;
   }
   .reserve .reserve-title .phone {
    display: none;
   }
  .reserve .reserve-inner {
    display: block;
    width: 40%;
    font-size:1rem;
    font-weight:bolder;
    position: absolute;
    margin: auto;
    top: 5rem;
    left: 52rem;
    line-height: 1.55rem;
    letter-spacing: 0.5rem;
    color: var(--border-color);
  }

  .reserve .play {
    width: 35%;
    position: absolute;
    margin: auto;
    top: 45rem;
    left: 17rem;
    line-height: 1.35rem;
    letter-spacing: 0.3rem;
    color: var(--border-color);
  }
  .reserve .play-title{
    font-size:1rem;
    font-weight: bolder;
  }
  .reserve .reserve-img {
    width: 36%;
    height: 70%;
    margin: auto;
    position: absolute;
    top: 10%;
    left: 18%;
    z-index: 0;
  }

  .reserve .reserve-img img {
    width: 100%;
    height: 100%;
    border-radius: 0%;
  }

  .reserve .reserve-img .img-title {
    width: 80%;
    height: 10%;
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 35rem;
    left: 0rem;
    z-index: 0;
    color: white;
    letter-spacing: 1rem;
    margin: auto;
  }
  .reserve .reserve-img .img-title .img-h1{
    width: 100%;
    text-align: left;
    margin: 0;
    font-size: 1.5rem
  }
  .reserve .reserve-img .img-title p {
    display: block;
    width: 100%;
    position: absolute;
    top: 2rem;
    left: 0rem;
    z-index: 0;
    color: white;
    letter-spacing: 0rem;
    margin: auto;
  }

  .reserve .reserve-form {
    width: 36%;
    height: 70%;
    position: absolute;
    top: 10rem;
    left: 48rem;
    background-color: var(--white);
    z-index: 1;
    box-shadow: 5px 8px 2px rgba(0, 0, 0, 0.2);
    margin: auto;

  }
  .reserve .text-group .input-h4{
    font-size: 1.2rem;
    margin-bottom: 0rem;
    font-weight: bolder;
  }
  .reserve .input-group {
    margin-top: 0rem;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: var(--reddish-brown);
  }
  .reserve .form-input {
    --width-of-input: 200px;
    --border-height: 1px;
    --border-before-color: rgba(221, 221, 221, 0.39);
    --border-after-color: var(--border-color);
    --input-hovered-color: var(--bean-paste);
    position: relative;
    width: var(--width-of-input);
  }

  /* styling of Input */
  .reserve .form-input .input {
    color: black;
    font-size: 0.9rem;
    background-color: transparent;
    width: 100%;
    box-sizing: border-box;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
    border-bottom: var(--border-height) solid black;
  }

  /* styling of animated border */
  .reserve .form-input .input-border {
    position: absolute;
    background: var(--border-after-color);
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: 0.5s;
  }

  /* Hover on Input */
  .reserve .form-input input:hover {
    background: var(--input-hovered-color);
  }

  .reserve .form-input input:focus {
    outline: none;
  }

  /* here is code of animated border */
  .reserve input:focus~.input-border {
    width: 100%;
  }

  .reserve input[type=date]:invalid::-webkit-datetime-edit {
    color: black;
  }

  .reserve .button {
    display:flex;
    align-items:center;
    justify-content:center;
    outline: none;
    color: #DAA06D;
    height: 2.1875rem;
    padding: 1em;
    padding-left: 3em;
    padding-right: 3em;
    margin-top:1rem;
    border: 2px dashed #DAA06D;
    border-radius:10px;
    background-color: #EADDCA;
    box-shadow: 0 0 0 4px #EADDCA, 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
    transition: .1s ease-in-out, .4s color;

  }

  .reserve .button:active {
    transform: translateX(0.1em) translateY(0.1em);
    box-shadow: 0 0 0 4px #EADDCA, 1.5px 1.5px 2.5px 1.5px rgba(0, 0, 0, 0.5);
  }
  .thanks-group{
    margin-bottom:1rem;
    height: 7rem;
  }
  .thanks {
    width: 90%;
    height:70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    letter-spacing: 1.2rem;
    border-radius:0px 30px 30px 0px;
    color: var(--border-color);
    background-color: white;
    box-shadow: 5px 5px 5px gray;
  }
  .thanks .thanks-title{
    margin-right: 2rem;
    font-size: 30px;
  }
  .thanks .foot{
    position:absolute;
    width:4rem;
    height:4rem;
    top:20%;
    right:3%;
    animation:  bounce 4s infinite, changeColor 3s infinite alternate;
  }
  @keyframes bounce {
    0% {
      transform: translateY(-10px) translateX(-50px)rotate(90deg);
    }
    25% {
      transform: translateY(-10px) translateX(-150px) rotate(180deg);
    }
    50% {
      transform: translateY(-10px) translateX(-250px) rotate(270deg);
    }
    75% {
      transform: translateY(-10px) translateX(-150px) rotate(360deg);
    }
    100% {
      transform: translateY(-10px) translateX(-50px) rotate(180deg);
    }
  }
  @keyframes changeColor {
    0% {
      filter: hue-rotate(0deg);
    }
    100% {
      filter: hue-rotate(360deg);
    }
  }
}