.commendbody {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-family);
  background-color: var(--bg-color);
  transition: 0s;
  margin-top: -30px;
}

/* banner */
.banner {
  /* background-image: url("../images/background-notice.png"); */
  background-position-y: 25%;
  z-index: 1;
  position: relative;
}

.section {
  margin: 0;
  width: 100%;
  height: 100svh;
  display: flex;
  justify-content: space-between;
  overflow-x: hidden;
}

.br-block {
  display: block;
}

.br-mobile {
  display: none;
}

.section > hr {
  opacity: 1;
  border-top: 5px solid;
  border-radius: 50px;
  z-index: 1;
}

.section h2 {
  font-size: 48px;
  line-height: 70px;
  font-weight: 600;
  z-index: 1;
  letter-spacing: 1px;
}

.title {
  height: 100svh;
  position: relative;
  z-index: 2;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0 10% 0 10%;
  flex-direction: column;
  justify-content: center;
  background-color: var(--beige);
}

.title > h1 {
  font-size: 72px;
  color: var(--dark-green);
  font-weight: 600;
  z-index: 1;
}

.title > img {
  width: 60%;
  position: absolute;
  top: 20%;
  right: -8%;
  z-index: 1;
}

.age {
  width: 100%;
  align-items: center;
  padding: 0 10% 0 10%;
  background-color: #ebfaff;
}

.age > img {
  width: 50%;
  z-index: 1;
}

.choose {
  width: 100%;
  align-items: center;
  padding: 0 10% 0 10%;
  background-color: var(--beige);
}

.choose > div > h2 {
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  z-index: 1;
  position: relative;
}

.choose > div > ul {
  flex-direction: column;
  list-style-image: url('../../public/img/pets/icon_pet_ulli.png');
}

.choose > div > ul > li {
  width: 100%;
  text-align: justify;
  font-size: 32px;
  line-height: 50px;
  margin-top: 30px;
  z-index: 1;
}

.choose > img {
  width: 50%;
  z-index: 1;
}

.docs {
  background-color: #ebfaff;
  padding: 0 15%;
  align-items: center;
}

.docs > img {
  width: 50%;
  z-index: 1;
}

.register {
  padding: 0 10%;
  align-items: center;
  background-color: #fff8ec;
}

.register > img {
  width: 50%;
  z-index: 1;
}

.prevent {
  padding: 0 10%;
  align-items: center;
}

.prevent > img {
  width: 50%;
  z-index: 1;
}

.fix {
  width: 100%;
  align-items: center;
  padding: 0 10% 0 10%;
  background-color: var(--beige);
}

.fix > div > h2 {
  font-size: 48px;
  line-height: 60px;
  z-index: 1;
  position: relative;
}

.fix > div > ul {
  flex-direction: column;
  list-style-image: url('../../public/img/pets/icon_pet_ulli.png');
  /* text-align: justify; */
}

.fix > div > ul > li {
  width: 100%;
  text-align: justify;
  font-size: 32px;
  line-height: 50px;
  margin-top: 30px;
  z-index: 1;
}

.fix > img {
  width: 50%;
  z-index: 1;
}

.free {
  align-items: center;
  padding: 0 15%;
  background-color: #ebfaff;
}

.free img {
  width: 50%;
  z-index: 1;
}

/* 背景圖案 */
.paws1 {
  position: fixed;
  /* z-index: -1; */
  animation-name: paws1;
  animation-duration: 8s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  transform: rotate(45deg);
  height: 150px;
  object-fit: contain;
  left: -5%;
  top: 80%;
}

@keyframes paws1 {
  from {
    transform: rotate(45deg);
  }

  to {
    left: 80%;
    /* top: 120%; */
    transform: rotate(750deg);
  }
}

.paws2 {
  position: fixed;
  /* animation-name: paws2; */
  animation-duration: 10s;
  animation-direction: ease-in;
  animation-iteration-count: infinite;
  transform: rotate(135deg);
  right: 90%;
  top: 5%;
}

@keyframes paws2 {
  from {
    right: 70%;
    top: 0%;
  }
  50% {
    right: 90%;
    top: 20%;
    transform: rotate(90deg);
  }
  75% {
    /* right: 70%;
    top: 30%;
    transform: rotate(100deg); */
  }
  to {
    right: 70%;
    top: 0%;
  }
}

/* 浮動卡片 */
.card-border {
  z-index: 1;
  height: auto;
  width: auto;
  padding-right: 30px;
  position: fixed;
  top: 30%;
  right: -20%;
  transform: rotate(-10deg);
  transition: 0.15s linear;
}

.card-border:hover {
  top: 30%;
  right: 0%;
  transform: rotate(0deg);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  background-color: white;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 4px 4px 10px;
}

.card-img > img {
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 4px 4px 10px;
}

.card > div:not(.card-img) {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  color: rgba(24, 39, 71, 0.5);
}

.pet-name {
  text-align: center;
}

.pet-name span {
  font-size: 20px;
}

.pet-name > p {
  padding: 0;
  margin: 0;
  text-align: center;
  letter-spacing: 20px;
  font-size: 28px;
  font-weight: 600;
  line-height: 50px;
  color: var(--brown);
}

.pet-desc {
  /* border: 1px solid black; */
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  align-items: center;
  text-align: left;
  justify-content: space-between;
}

.pet-desc > img {
  height: 30px;
  width: 30px;
  object-fit: contain;
  opacity: 50%;
}

.cta {
  border: none;
  background: none;
  cursor: pointer;

  /* border: 1px solid black; */
  margin-top: 30px;
  /* width: 25%; */
  border-radius: 50px;
  align-items: center;
  text-align: center;
  color: white;
  width: 90%;
  height: 60px;
  background-color: var(--khaki);
  transition: border-color 0.2s, background-color 0.2s;
}

.cta span {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 20px;
  padding-right: 15px;
  text-transform: uppercase;
}

.cta svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
  filter: invert(1);
}

.cta:hover {
  background-color: var(--deep-blue);
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: rgb(255, 255, 255);
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* 手機版 */
@media screen and (max-width: 414px) {
  .section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .section>h2 {
    font-size: 36px;
  }

  .br-block, .br-mobile{
    display: block;
  }

  .title > h1 {
    font-size: 50px;
    line-height: 70px;
  }

  .title > h2 {
    font-size: 40px;
    margin: 0;
  }

  .title > hr {
    transform: rotate(90deg);
    position: relative;
    right: 50%;
    padding: 0;
    margin-left: -10%;
  }

  .title > img {
    top: 62%;
    width: 85%;
  }

  .age {
    flex-direction: column-reverse;
  }

  .age > img {
    width: 100%;
  }

  .choose {
    width: 100%;
  }

  .choose > div > h2 {
    font-size: 40px;
    line-height: 50px;
  }

  .choose > div > ul > li {
    font-size: 20px;
    line-height: 32px;
    margin-top: 15px;
  }

  .choose > img {
    width: 50%;
    position: relative;
    right: -30%;
  }

  .docs > img {
    width: 100%;
  }

  .register > img {
    width: 100%;
  }

  .prevent > img {
    width: 100%;
    margin: -10%;
  }

  .fix > div > h2 {
    font-size: 40px;
    line-height: 50px;
  }

  .fix > div > ul > li {
    font-size: 20px;
    line-height: 32px;
    margin-top: 15px;
  }

  .fix > img {
    width: 80%;
    position: relative;
    right: -20%;
    margin: -10%;
  }

  .free {
    flex-direction: column-reverse;
  }

  .free > img {
    width: 100%;
  }

  .paws2 {
    position: fixed;
    width: 150px;
    /* animation-name: paws2; */
    animation-duration: 10s;
    animation-direction: ease-in;
    animation-iteration-count: infinite;
    transform: rotate(150deg);
    right: 70%;
    top: -5%;
  }

  .paws1 {
    position: fixed;
    /* z-index: -1; */
    animation-duration: 5s;
    transform: rotate(45deg);
    height: 80px;
    object-fit: contain;
    left: -5%;
    top: 85%;
  }

  @keyframes paws1 {
    from {
      transform: rotate(45deg);
    }

    to {
      left: 70%;
      transform: rotate(340deg);
    }
  }

  .card-border {
    width: 50%;
    padding-right: 30px;
    position: fixed;
    top: 70%;
    left: 55%;
    transform: rotate(0deg);
    transition: 0.15s linear;
    display: none;
  }

  /* .card-border:hover {
    top: 30%;
    right: 0%;
    transform: rotate(0deg);
  } */

  .card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
  }

  .card-img > img {
    height: 150px;
    width: 150px;
    border-radius: 10px;
  }

  .card > div:not(.card-img) {
    margin-top: 20px;
    color: rgba(24, 39, 71, 0.5);
  }

  .pet-name span {
    font-size: 16px;
  }

  .pet-name > p {
    font-size: 20px;
    line-height: 50px;
  }

  .pet-desc {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: space-between;
  }

  .pet-desc > img {
    height: 20px;
    width: 20px;
    object-fit: cover;
  }

  .cta{
    display: none;
  }
  
  /* .cta{
    height: 40px;
    margin-top: 10px;
  }

  .cta span {
    padding-bottom: 7px;
    letter-spacing: 2px;
    font-size: 16px;
    padding-right: 15px;
  }

  .cta svg {
    width: 15%;
  } */
}
