@media screen and (min-width: 1025px) {
  .tip {
    font-size: 20px;
    margin: 0 auto;
    line-height: 100px;
    text-align: center;
  }

  .cont {
    /* overflow: hidden;
    position: relative; */
    width: 100%;
    height: 600px;
    margin: 50px auto 100px;
    border-radius: 10%;
    display: flex;
    justify-content: space-between;
  }

  .form {
    position: relative;
    height: auto;
    width: 30%;
    transition: transform 1.2s ease-in-out;
    padding: 50px 30px 0;
    border-radius: 5px;
    border: 1px solid black;
    background: #fff;
  }
  .password {
    width: 510px;
  }
}

@media screen and (min-width: 414px) and (max-width: 828px) {
  .cont {
    overflow: hidden;
    position: relative;
    width: 360px;
    height: 550px;
    margin: 50px auto 50px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid black;
  }

  .login {
    display: none;
  }
  .login2 {
    display: none;
  }

  .form {
    position: relative;
    width: 256px;
    height: 100%;
    transition: transform 1.2s ease-in-out;
    padding: 50px 30px 0;
  }

  .sub-cont {
    overflow: hidden;
    position: absolute;
    left: 256px;
    top: 0;
    width: 360px;
    height: 100%;
    padding-left: 104px;
    background: #fff;
    transition: transform 1.2s ease-in-out;
  }

  .cont.s--signup .sub-cont {
    transform: translate3d(-256px, 0, 0);
  }

  .button {
    display: block;
    margin: 0 auto;
    width: 170px;
    height: 36px;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
  }

  .img {
    overflow: hidden;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 104px;
    height: 100%;
    padding-top: 360px;

    /* &:before {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      width: 360px;
      height: 100%;
      background-image: url('/img/user/login-bg.jpg');
      background-size: cover;
      transition: transform 1.2s ease-in-out;
    } */

    /* &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.6);
    } */
  }

  .cont.s--signup .img:before {
    transform: translate3d(256px, 0, 0);
  }

  .img__text {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    padding: 0 20px;
    text-align: center;
    color: #fff;
    transition: transform 1.2s ease-in-out;
  }

  .h2text {
    font-size: var(--font-size-p);
    margin-bottom: 10px;
    font-weight: normal;
  }

  .h6 {
    font-size: 12px;
    line-height: 1.5;
  }

  .cont.s--signup .img__text.m--up {
    transform: translateX(520px);
  }

  .img__text.m--in {
    transform: translateX(-520px);
  }

  .cont.s--signup .img__text.m--in {
    transform: translateX(0);
  }

  .img__btn {
    overflow: hidden;
    z-index: 2;
    position: relative;
    width: 80px;
    height: 36px;
    margin: 0 auto;
    background: transparent;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
    /* 
    &:after {
      content: '';
      z-index: 2;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border: 2px solid #fff;
      border-radius: 30px;
    } */
  }

  .spanbtn {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: transform 1.2s;
  }

  .img__btn span.m--in {
    transform: translateY(-72px);
  }

  .cont.s--signup .img__btn span {
    &.m--in {
      transform: translateY(0);
    }

    &.m--up {
      transform: translateY(72px);
    }
  }

  .h2 {
    width: 100%;
    font-size: 20px;
    text-align: center;
  }

  .label {
    display: block;
    width: 170px;
    margin: 25px auto 0;
    text-align: center;
  }

  .spanl {
    font-size: 12px;
    color: #cfcfcf;
    text-transform: uppercase;
  }

  .input {
    display: block;
    width: 100%;
    margin-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    text-align: center;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  }

  .forgot-pass {
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    color: #cfcfcf;
  }

  .submit {
    margin-top: 40px;
    margin-bottom: 20px;
    background: #d4af7a;
    text-transform: uppercase;
  }

  .fb-btn {
    border: 2px solid #d3dae9;
    color: #8fa1c7;
  }

  .fb-btns {
    font-size: 16px;
    font-weight: bold;
    color: #455a81;
  }

  .sign-in {
    transition-timing-function: ease-out;
  }

  .cont.s--signup .sign-in {
    transition-timing-function: ease-in-out;
    transition-duration: 1.2s;
    transform: translate3d(256px, 0, 0);
  }

  .sign-up {
    transform: translate3d(-360px, 0, 0);
  }

  .cont.s--signup .sign-up {
    transform: translate3d(0, 0, 0);
  }
}
