.wrapper {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}
.accordion{
    width: 80%;
}

.item{
    background: #d7b67a;
    margin-bottom: 5px;
    padding: 10px 20px;
}
.title{
    font-weight: bold;
    color: #753422;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.content{
    background: #FFF;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0,1,0,1);
}
.content.show{
    height: auto;
    max-height: 9999px;
    transition: all 0.5s cubic-bezier(1,0,1,0);

}