.chat_index {
  width: 100%;
  height: 1000px;
  color: #212121;
  font-family: var(--font-family);
  display: flex;
  justify-content: center;
  place-items: center;
  margin: 0%;
  padding: 0%;
  /* position: relative; */
  /* background: #fff; */
}
.chat_indh4 {
  width: 100%;
  padding: 20px;
  border-radius: 10px 10px 0px 0px;
  margin-bottom: 80px;
  background-color: #d7b67a;
  color: var(--reddish-brown);
}
.chat_index_img {
  position: absolute;
  overflow: hidden;
  bottom: 20%;
  right: 60%;
  rotate: 10deg;
  z-index: -1;
}
.chat_index_img1 {
  position: absolute;
  bottom: 20%;
  left: 50%;
  rotate: 10deg;
  overflow: hidden;
  z-index: -1;
}
.chat_index_sle {
  width: 200px;
  font-size: 20px;
  margin: 30px 0px;
}
.joinChatContainer {
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: flex-start;
  background: #fff;
  border: 1px solid #d7b67a;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.joinChatContainer h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.joinChatContainer input {
  width: 225px;
  height: 40px;
  margin: 20px 0px;
  border: 2px solid #d7b67a;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
}

.joinChatContainer button {
  width: 225px;
  height: 50px;
  margin: 7px;
  border: 2px solid #d7b67a;
  border-radius: 50px;
  padding: 5px;
  font-size: 16px;
  /* background: #d7b67a; */
  color: #fff;
  cursor: pointer;
}
.joinChatContainer button:hover,
.joinChatContainer span:hover,
.joinChatContainer path:hover {
  background: #d7b67a;
  /* color: #fff; */
}
.chat_admin {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.chat_admin_use {
  width: 50px;
  height: 50px;
  background: #dba615;
  border-radius: 50%;
  line-height: 50px;
}
.chat-window {
  width: 300px;
  height: 420px;
}

.chat-window p {
  margin: 0;
}
.chat-window .chat-header {
  height: 45px;
  border-radius: 6px;
  background: #263238;
  position: relative;
  cursor: pointer;
}
.chat-window .chat-header p {
  display: block;
  padding: 0 1em 0 2em;
  color: #fff;
  font-weight: 700;
  line-height: 45px;
}

.chat-window .chat-body {
  height: calc(450px - (45px + 70px));
  border: 1px solid #263238;
  background: #fff;
  position: relative;
}
.chat-window .chat-body .message-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat-window .chat-body .message-container::-webkit-scrollbar {
  display: none;
}
.chat-window .chat-body .message {
  height: auto;
  padding: 10px;
  display: flex;
}

.chat-window .chat-body .message .message-content {
  width: auto;
  height: auto;
  min-height: 40px;
  max-width: 120px;
  background-color: #43a047;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 5px;
  padding-left: 5px;
  overflow-wrap: break-word;
  word-break: break-word;
}

#you {
  justify-content: flex-start;
}

#you .message-content {
  justify-content: flex-start;
}

#you .message-meta {
  justify-content: flex-start;
  margin-left: 5px;
}

#other {
  justify-content: flex-start;
}

#other .message-content {
  justify-content: flex-end;
  background-color: cornflowerblue;
}

#other .message-meta {
  justify-content: flex-end;
  margin-right: 5px;
}

.message-meta #author {
  margin-left: 10px;
  font-weight: bold;
}

.chat-window .chat-body .message .message-meta {
  display: flex;
  font-size: 12px;
}

.chat-window .chat-footer {
  height: 40px;
  border: 1px solid #263238;
  border-top: none;
  display: flex;
}

.chat-window .chat-footer input {
  height: 100%;
  flex: 85%;
  border: 0;
  padding: 0 0.7em;
  font-size: 1em;
  border-right: 1px dotted #607d8b;

  outline: none;
  font-family: 'Open Sans', sans-serif;
}

.chat-window .chat-footer button {
  border: 0;
  display: grid;
  place-items: center;
  cursor: pointer;
  flex: 15%;
  height: 100%;
  background: transparent;
  outline: none;
  font-size: 25px;
  color: lightgray;
}


.hide {
  opacity: 0 !important;
}

/* 按鈕特殊樣式 */
.cta {
  border: none;
  background: none;
  cursor: pointer;
}

.cta span {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 14px;
  padding-right: 15px;
  text-transform: uppercase;
}

.cta svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: black;
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  color: black;
  transform: scaleX(1);
  transform-origin: bottom left;
}


@media screen and (max-width: 1200px) {
  .crcat1,
  .crcat2,
  .crcat3,
  .crcat4 {
    display: none;
  }
}

@media screen and (min-width: 1025px) {
  .chat_indh4 {
    width: 100%;
    padding: 20px;
    margin-bottom: 80px;
    background-color: #d7b67a;
    color: var(--reddish-brown);
    border-radius: 10px 10px 0px 0px;
  }
  .joinChatContainer {
    width: 600px;
    height: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: flex-start;
    background: #fff;
    border: 1px solid #d7b67a;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  }
  .crcat {
    width: 100%;
    height: 1000px;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  .crcat1 {
    position: relative;
    z-index: -1;
    overflow: hidden;
    top: 500px;
    left: 200px;
  }
  .crcat2 {
    position: relative;
    z-index: -1;
    overflow: hidden;
    left: 1000px;
    top: 500px;
  }
  .crcat3 {
    position: relative;
    z-index: -1;
    overflow: hidden;
    rotate: 300deg;
    right: 1000px;
  }
  
  .crcat4 {
    position: relative;
    z-index: -1;
    overflow: hidden;
    rotate: 40deg;
    left: 1300px;
    bottom: 350px;
  }
}
