.container_chatroom {
    display: flex;
    font-family: "Jost", sans-serif;
    justify-content: center;
    /* margin: 100px 0px; */
    /* border: 1px solid grey; */
    border-radius: 30px;
}

/* 聊天室左側功能列 */
.chatA {
    width: 90px;
    height: 1110px;
    background-color: #D7B67A;
    border-radius: 30px 0px 0px 30px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.cr_icons {
    margin: 20px 0px;
    color: var(--reddish-brown);
    font-size: 24px;
}

.chatA>a:nth-child(1) {
    margin: 50px 0px;
}

.chatA>a:nth-child(2),
.chatA>a:nth-child(3),
.chatA>a:nth-child(4),
.chatA>a:nth-child(5),
.chatA>a:nth-child(6),
.chatA>a:nth-child(7) {
    margin: 20px 0px;
}

/* 聊天室中間用戶列 */
.chatB {
    width: 379px;
    height: 1110px;
    background-color: #FFF;
}

.chat_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 10px;
}

.chat_search {
    display: flex;
    justify-content: center;
}

.chat_search>div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    /* border-bottom: 1px solid #2b3f6c; */
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.chat_search>div>input {
    border: none;
    outline: none;
    font-size: 24px;
    text-indent: 10px;
}

.message_input::placeholder {
    color: var(--reddish-brown);
}

.chat_user {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chat_user>img {
    /* width: 300px; */
    margin-top: 20px;
}

.chat_user>img:nth-child(6) {
    opacity: 0.5;
}

/* 聊天室右側訊息列 */
.chatC {
    width: 851px;
    height: 1110px;
    /* border: 2px solid black; */
}

.chat_message_title {
    background-color: #FFF;
    border-radius: 0px 30px 0px 0px;
}

.cmt_top {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px 0px;
}

.cmt_top>h5 {
    padding: 0px 30px;
}

.cmt_avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url("/img/cr_avatar1.png");
    background-size: contain;
    /* background-color: lightgrey; */
}

.cmt_avatar2 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: lightgray;
    /* background-image: url("../images/cr_avatar1.png");
    background-size: contain; */
}

.cmt_mid {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cmt_mid2 {
    display: flex;
    align-items: center;
    padding: 20px 0px 20px 20px;
}

.cmt_tools {
    padding-right: 20px;
}

.cmt_tools>a {
    padding: 0px 10px;
}

.cmt_bottom{
    height: calc(100% - 398px);
    background-color: lightgrey;
    border:30px solid #FFF;
}

/* 訊息發送 */
.chat_message {
    height: 118px;
    background-color: #D7B67A;
    border-radius: 0px 0px 30px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message_box {
    width: 761px;
    height: 70px;
    /* border: 1px solid red; */
    background-color: #FFF;
    display: flex;
    justify-content: space-between;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.message_box>input {
    width: 761px;
}

.message_box>input,
.message_box>button {
    border: none;
    outline: none;
    font-size: 32px;
    background-color: #FFF;
    cursor: pointer;
    text-indent: 30px;
}

.fa-paper-plane {
    padding-right: 30px;
}