/* 常見問題頁面css樣式 */
.onlyforbgc {
  background-color: var(--bg-color);
  position: relative;
  z-index: 1;
}
/* 手機版 */
/* 搜尋欄 */
.container_faq {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px 0px;
}

.box_search {
  width: 100%;
  height: 80px;
  display: flex block;
  justify-content: center;
  align-items: center;
  border: 5px solid #895e3c;
  border-radius: 50px;
  background-color: #fff;
}

.searchBar {
  border: none;
  outline: none;
  font-size: 24px;
  width: 80%;
  text-indent: 20px;
  margin-right: 10px;
  border-radius: 50px;
}

/* 問題分類欄 */

.box_options {
  display: grid;
  justify-content: center;
  width: 100%;
  padding: 20px;
  row-gap: 10px;
  column-gap: 10px;
  grid-template-columns: 120px 120px 120px;
}

.faq_options {
  border: 2px solid #895e3c;
  background-color: #d7b67a;
  text-align: center;
  padding: 5px 0px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px;
}

.faq_text:hover,
.faq_options:hover {
  color: aliceblue;
  background-color: var(--bean-paste);
}

.faq_text {
  font-size: 20px;
  font-weight: bold;
  color: #753422;
}
.faq_links {
  text-decoration: none;
}
.faq_icons {
  color: #895e3c;
  font-size: 36px;
}

/* 問題回答欄 */

.box_ans {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.container_ans {
  display: block;
  width: 90%;
}

.faq_paws{
  display: flex;
  align-items: center;
  font-size: 36px;
  color: #895e3c;
}

.item {
  background: #d7b67a;
  margin-bottom: 50px;
  border-radius: 10px;
  border: 2px solid #d7b67a;
  box-shadow: 0 15px 25px rgba(0, 0, 50, 0.2);
}

.title {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.toggle {
  width: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #753422;
  font-size: 24px;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 20px;
}

.content_ans {
  position: relative;
  width: 100%;
  font-size: 20px;
  display: flex;
  text-align: justify;
  line-height: 30px;
  font-weight: bold;
  /* height: 0; */
  max-height: 0;
  border-radius: 0px 0px 10px 10px;
  overflow: hidden;
  /* transition: all 1s; */
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
  background-color: #fff;
  padding: 0px 10px;
}
.content_ans.show {
  height: auto;
  max-height: 9999px;
  transition: all 0.5s cubic-bezier(1, 0, 1, 0);
}
.img_ans {
  width: 50px;
  height: 50px;
  margin-top: 20px;
}

/* 頁碼 */
.faq_pagebox {
  display: flex;
  justify-content: center;
}
.faq_pagination {
  display: inline-block;
  position: relative;
}

.faq_pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 20px;
}

.faq_pagination a.active {
  /* background-color: #4CAF50; */
  border-radius: 50%;
  color: black;
}

.faq_pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 50%;
}

/* 問題回報、貓手互動 */
.faq_res {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* overflow: hidden; */
  padding: 20px 0px;
  /* background-color: var(--bg-color); */
}

.img_res {
  width: 100%;
  position: relative;
  top: 50px;
  left: 20px;
  border-radius: 10px;
  box-shadow: 0px 5px 5px;
  animation-name: reportform;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  cursor: pointer;
}
@keyframes reportform {
  0% {
    transform: rotate(20deg);
  }
  25% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(20deg);
  }
}
.img_res2 {
  width: 50%;
  z-index: -1;
  position: relative;
  left: 150px;
  top: 100px;
  animation-name: catpaw;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes catpaw {
  0% {
    left: 150px;
    top: 100px;
  }

  25% {
    left: 150px;
    top: 150px;
  }

  50% {
    left: -100px;
    top: 100px;
  }

  75% {
    left: 150px;
    top: 150px;
  }

  100% {
    left: 150px;
    top: 100px;
  }
}

/* 電腦版 */
@media screen and (min-width: 1025px) {
  /* 搜尋欄 */
  .container_faq {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px 0px;
    background-color: var(--bg-color);
  }

  .box_search {
    width: 60%;
    height: 80px;
    display: flex block;
    justify-content: center;
    align-items: center;
    border: 5px solid #895e3c;
    border-radius: 50px;
    background-color: #fff;
  }

  .searchBar {
    border: none;
    outline: none;
    font-size: 24px;
    width: 80%;
    text-indent: 20px;
    margin-right: 10px;
    border-radius: 50px;
  }

  /* 問題分類欄 */
  .box_options {
    display: grid;
    justify-content: center;
    width: 100%;
    padding: 20px;
    row-gap: 20px;
    column-gap: 20px;
    grid-template-columns: 120px 120px 120px 120px;
  }

  .faq_options {
    border: 2px solid #895e3c;
    background-color: #d7b67a;
    text-align: center;
    padding: 5px 0px;
    border-radius: 10px;
  }

  .faq_text:hover {
    color: aliceblue;
  }

  .faq_text {
    font-size: 20px;
    font-weight: bold;
    color: #753422;
  }

  .faq_icons {
    color: #895e3c;
    font-size: 36px;
  }

  /* 問題回答欄 */

  .box_ans {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .container_ans {
    display: block;
    width: 60%;
  }


  .item{
    border-radius: 10px;
    border: 2px solid #d7b67a;
    box-shadow: 0 15px 25px rgba(0, 0, 50, 0.2);
  }
  
  .toggle {
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #753422;
    font-size: 24px;
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
  }
  .faq_paws{
    display: flex;
    align-items: center;
    font-size: 36px;
    color: #895e3c;
  }

  .content_ans {
    position: relative;
    width: 100%;
    font-size: 20px;
    display: flex;
    text-align: justify;
    line-height: 30px;
    font-weight: bold;
    height: 0;
    border-radius: 0px 0px 10px 10px;
    overflow: hidden;
    transition: all 1s;
    background-color: #fff;
    padding: 0px 10px;
  }

  .img_ans {
    width: 50px;
    height: 50px;
    margin-top: 20px;
  }

  /* 問題回報、貓手互動 */
  .faq_res {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .img_res {
    width: 100%;
    position: relative;
    top: 250px;
    left: 200px;
    border-radius: 20px;
    box-shadow: 0px 5px 5px;
    animation-name: reportform;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }

  @keyframes reportform {
    0% {
      transform: rotate(20deg);
    }
    25% {
      transform: rotate(-20deg);
    }
    50% {
      transform: rotate(20deg);
    }
    75% {
      transform: rotate(-20deg);
    }
    100% {
      transform: rotate(20deg);
    }
  }

  .img_res2 {
    width: 100%;
    position: relative;
    top: 300px;
    animation-name: catpaw;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    z-index: -1;
    overflow: hidden;
  }

  @keyframes catpaw {
    0% {
      top: 300px;
    }

    25% {
      left: -500px;
      top: 300px;
    }

    50% {
      left: -700px;
      top: 200px;
    }

    75% {
      top: 300px;
    }

    100% {
      top: 300px;
    }
  }
}
