.myswiper {
  width: 100%;
  height: 510px;
}

.text {
  color: var(--deep-gray);
  font-weight: 600;
  width: fit-content;
  height: fit-content;
  margin-top: 70px;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  padding: 10px;
}
.text p {
  font-size: 20px;
  padding: 4px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  background-image: url(/cart/itemborder.png);
  background-size: 100% auto;
  background-repeat: no-repeat;

  margin-top: 20px;
}
.item {
  flex-direction: column;
  text-align: center;
  /* Center slide text vertically */
  display: flex;
  justify-content: start;
  align-items: center;
}
.icon {
  display: flex;
  width: 40%;
  justify-content: space-between;
  margin-top: 20px;
}
.iconstyle {
  font-size: 30px;
  color: var(--deep-gray);
}
.container img {
  display: block;
  width: 50%;
  height: auto;
  /* object-fit: cover; */
  background-color: #fff;
  position: relative;
  top: 52px;
  border-radius: 20px;
}
.button {
  border: solid 4px white;
  border-radius: 10px;
}
