#app {
  height: 100%;
}

.swiper {
  width: 30%;
  height: 50px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  width: 30%;
  

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  width: 30%;
  height: 300px;
  margin: 20px auto;
  background: #fecc5f;
}
.append-buttons {
  text-align: center;
  margin-top: 20px;
}

.append-buttons button {
  display: inline-block;
  cursor: pointer;
  border: 1px solid #007aff;
  color: #007aff;
  text-decoration: none;
  padding: 4px 10px;
  border-radius: 4px;
  margin: 0 10px;
  font-size: 13px;
}
