.banner {
  background-image: url(/img/banner-blog.jpg);
  margin-top: 74px;
}
.container {
  align-items: flex-start;
  width: 70%;
  margin: auto;
}
.pet-info {
  display: flex;
  text-align: left;
  margin-top: 1rem;
  flex-direction: column;
}
.info-line {
  margin-top: 1rem;
  padding-left: 1rem;
  border-left: 3px black solid;
  flex-direction: column;
}
.info-title {
  border-bottom: 1px solid black;
  font-size: 2rem;
  letter-spacing: 1rem;
  font-weight: bold;
}
.post {
  display: flex;
  border-bottom: 1px solid black;
  width: 100%;
  flex-direction: column;
}
.head-img {
  margin: 1rem 0 0 1rem;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: none;
}
.post-right {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.content-word {
  padding: 1.5rem;
  background-color: white;
  border-radius: 1rem;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.post-upload {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.input-pic {
  background-color: white;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  width: 10rem;
  border-radius: 1rem;
  color: black;
  margin-top: 1rem;
  width: 43%;
}
.show-img {
  margin: 1rem 0 0 1rem;
  box-shadow: 4px 4px 10px 0px rgb(0 0 0 / 25%);
  height: 100px;
}
.post-time {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.content-time {
  margin: 0;
}
.post-upload > input {
  margin-top: 10px;
  height: 50%;
  width: 100%;
}

.input-pic[type='file']::file-selector-button {
  display: none;
}

.wp-pagenavi {
  margin: 40px auto;
  font-size: 14px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
}
.wp-pagenavi a {
  color: #333;
}
.wp-pagenavi a:hover {
  color: #77a0d1;
}
.wp-pagenavi span.current,
.wp-pagenavi a.page {
  margin: 0 10px;
  line-height: 2;
  padding: 0 12px;
  transition: 0.03s;
  display: block;
  border-bottom: 4px solid transparent;
}
.wp-pagenavi span.current {
  border-bottom: 4px solid #77a0d1;
}
.wp-pagenavi a.page {
  background: none;
}
.wp-pagenavi a.page:hover {
  border-bottom: 4px solid #77a0d1;
}
.wp-pagenavi .first,
.wp-pagenavi .extend {
  margin-right: 15px;
}
.wp-pagenavi .previouspostslink,
.wp-pagenavi .nextpostslink {
  display: none;
}
.button {
  background-color: #eee;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  width: 10em;
  border-radius: 1rem;
  color: #d7b67a;
  box-shadow: 0 0.4rem #dfd9d9;
  cursor: pointer;
}

.button:active {
  color: white;
  box-shadow: 0 0.2rem #dfd9d9;
  transform: translateY(0.2rem);
}

.button:hover:not(:disabled) {
  background: #d7b67a;
  color: white;
  text-shadow: 0 0.1rem #bcb4b4;
}

.button:disabled {
  cursor: auto;
  color: grey;
}

#pet-img {
  width: 45%;
}

#img-big > img {
  border-radius: 20px;
  object-fit: contain;
}

#img-small {
  margin: 1rem;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
}

#img-small > img {
  border-radius: 10px;
  object-fit: contain;
  width: 20%;
}
.post textarea {
  resize: none;
  width: 100%;
}
.post-upload label {
  margin-right: 1rem;
  width: 50%;
}
.post-upload-pic {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.swiper-container {
  width: 100%;
  margin-top: 1rem;
  box-shadow: 4px 4px 10px 0px rgb(0 0 0 / 25%);
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background: #fff;
  background-position: center;
  background-size: cover;
  height: auto;
}

.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.mySwiper2 {
  height: 80%;
  width: 100%;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 3px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  margin: auto;
  opacity: 0.7;
  padding: 3px;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1 !important;
}

.mySwiper3 {
  height: auto;
  margin-bottom: 10px;
  box-shadow: 4px 4px 10px 0px rgb(0 0 0 / 25%);
  margin-left: 0;
}
.mySwiper3 .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 1% 1% 15% 1%;
}
.img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-btn {
  position: absolute;
  z-index: 100;
  bottom: 1%;
  display: flex;
  padding: 0 2%;
  width: 100%;
  justify-content: space-between;
}
.cat-icon {
  margin: 2rem 0;
  width: 100%;
}
.post-swiper-container {
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.swiper-button {
  top: -20px;
  z-index: 11;
}

.upload-btn-phone {
  margin-top: 1rem;
  display: block;
}
.upload-btn-pc {
  display: none;
}
.swiper-button-next {
  width: 32px;
  height: 32px;
  border: none;
  background: url(/img/petDiary/chevronDoubleRight.svg);
}
.swiper-button-prev {
  width: 32px;
  height: 32px;
  border: none;
  background: url(/img/petDiary/chevronDoubleLeft.svg);
}
.inputFile {
  margin-left: 15%;
}
@media screen and (min-width: 1025px) {
  .banner {
    height: 20rem;
  }
  .cat-icon {
    width: auto;
  }
  .swiper-container {
    width: 500px;
    margin-right: 1rem;
  }
  .pet-info {
    flex-direction: row;
  }
  .info-title {
    font-size: 3rem;
  }
  .head-img {
    display: block;
  }
  .post {
    flex-direction: row;
  }
  .post-right {
    margin-left: 1rem;
  }
  .upload-btn-phone {
    display: none;
  }
  .upload-btn-pc {
    display: block;
  }
  .post-upload-btn-container {
    display: flex;
    justify-content: space-between;
  }
  .post-swiper-container {
    width: 500px;
  }
  .mySwiper3 .swiper-slide img {
    padding: 1% 1% 9% 1%;
  }
  .inputFile {
    margin-left: 30%;
  }
  .info-line h4 {
    padding-top: 1rem;
  }
  .info-line h5 {
    line-height: 2.5rem;
  }
  .post-upload-pic {
    justify-content: flex-start;
  }
}
