.sectionstyle {
  height: 150px;
}
/* 上花邊 */
.roof {
  margin: 0;
  width: 100%;
  overflow: hidden;
}
.roof img {
  max-width: 120%;
  max-height: 100%;
  overflow-x: hidden;
}

/* 步驟 */
.step {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}
.stepbg {
  background-image: url(/shopping-cart/step.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: bottom;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 60%;
  height: 145px;
}
.everystep {
  letter-spacing: 5px;
  display: flex;
  justify-content: space-between;
  width: 70%;
  height: 50%;
  margin-left: 3%;
}
.step .nextto {
  display: flex;
}
.step .nextto:nth-child(2) h1 {
  color: var(--yellow);
  font-weight: 900;
  font-size: 60px;
  font-family: sans-serif;
}
.step .nextto:nth-child(odd) h1 {
  color: var(--light-gray);
  font-weight: 900;
  font-size: 60px;
  font-family: sans-serif;
}
.step .nextto:nth-child(2) h2 {
  margin-top: 28px;
  color: var(--deep-gray);
  font-weight: 600;
}
.step .nextto:nth-child(odd) h2 {
  color: var(--light-gray);
  margin-top: 28px;
}

/* 填寫資料 */
.writemessage {
  display: flex;
  flex-direction: row;
  margin: 0px 10% 150px 10%;
  justify-content: space-between;
}

/* 左側 */
.writemessageleft {
  width: 55%;
  height: 600px;
  border-radius: 30px 30px 0 0;
}

.carttopstyle {
  font-size: var(--font-size-h3);
  width: 100%;
  height: 55px;
  background-color: var(--deep-gray);
  border-radius: 30px 30px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  letter-spacing: 5px;
  padding-left: 15px;
  color: var(--light-gray);
  font-weight: 600;
}
.need {
  color: #f78585;
}
.cartbottomstyle {
  width: 100%;
  background-color: rgb(243, 241, 231);
  font-size: var(--font-size-h4);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
}
.cartbottomstyle > div {
  display: flex;
  justify-content: space-between;
}
.writemessageright .cartbottomstyle {
  height: 400px;
}
.writemessageleft > div:nth-child(1) > div:nth-child(2) {
  height: 300px;
}
.writemessageleft > div:nth-child(2) > div:nth-child(2) {
  height: 500px;
}
.writemessageleft > div:nth-child(3) > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: auto;
}

.writemessageleft .cartbottomstyle > div {
  width: 95%;
}

.cartbottomstyle > div input,
.cartbottomstyle > div select,
.cartbottomstyle > div textarea {
  width: 550px;
  height: 30px;
  font-size: var(--font-size-p);
  color: var(--deep-gray);
  border: var(--deep-gray) 2px solid;
  border-radius: 5px;
  text-indent: 5px;
}

.writemessageleft > div:nth-child(1) {
  margin-bottom: 60px;
}
.writemessageleft > div:nth-child(2) {
  margin-bottom: 60px;
}

.writeaddress {
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: 100%;
}
.writeaddress > div:nth-child(1) {
  width: 20%;
}
.writeaddress > div:nth-child(2) {
  width: 72.5%;
  /* border: red 2px solid; */
}
.writeaddressright {
  display: flex;
  /* border: rgb(12, 71, 86) 2px solid; */
  width: 100%;
  justify-content: space-between;
  margin-bottom: 15px;
}
.writeaddress select {
  width: 250px !important;
}

.cartbottomstyle > div textarea {
  height: 100px;
  resize: none;
}

.writebill > div {
  display: flex;
  justify-content: space-between;
}
.writebill > div > div:nth-child(2) {
  display: flex;
  width: 72.5%;
  /* border: pink 2px solid; */
  margin-bottom: 20px;
}

.writebill {
  display: flex;
  flex-direction: column;
}
.writebill > div:nth-child(3) {
  justify-content: end;
}
.checklinestyle {
  justify-content: start !important;
  width: 400px !important;
  align-items: center;
}

.checkboxstyle {
  width: 20px !important;
  margin-right: 5px;
}

/* 左側scroll條 */
.itemscroll {
  height: 600px;
  overflow-y: scroll;
}
.itemscroll::-webkit-scrollbar {
  width: 7px;
  /* background-color: var(--creamy-yellow); */
  height: auto;
}

.itemscroll::-webkit-scrollbar-track {
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.itemscroll::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: var(--deep-gray);
}
.itemscroll::-webkit-scrollbar-thumb:window-inactive {
  background: var(--deep-gray);
}

/* 右側 */
.carttopstyle1 {
  font-size: var(--font-size-h3);
  width: 100%;
  height: 55px;
  background-color: var(--light-gray);
  border-radius: 30px 30px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  letter-spacing: 5px;
  padding-left: 15px;
  color: var(--deep-gray);
  font-weight: 600;
}
.writemessageright {
  width: 35%;
  height: 455px;
  position: relative;
  box-shadow: 5px 0 20px rgba(0, 0, 0, 0.1), -5px 0 20px rgba(0, 0, 0, 0.1),
    0 5px 20px rgba(0, 0, 0, 0.1);
  border-radius: 30px 30px 0 0;
}

/* 按鈕 */
.buttonstyle {
  width: fit-content;
  letter-spacing: 3px;
  /* font-size: var(var(--font-size-h4)); */
  font-weight: 600;
  background-color: white;
  border: none;
  padding: 0.6rem;
  border-radius: 1rem;
  color: var(--deep-gray);
  box-shadow: 0 0.2rem #dfd9d9;
  cursor: pointer;
  text-decoration: none;
}
.cartbutton button:nth-child(1) {
  display: flex;
  align-items: center;
}
.iconstyle1 {
  margin-right: 6px;
}
.iconstyle2 {
  margin-left: 6px;
}
.cartbutton button:nth-child(2) {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.buttonstyle:active {
  color: white;
  /* box-shadow: 0 0.2rem #dfd9d9; */
  /* transform: translateY(0.2rem); */
}

.buttonstyle:hover:not(:disabled) {
  background: var(--yellow);
  opacity: 0.8;
  color: white;
  /* text-shadow: 0 0.05rem #bcb4b4; */
}

.buttonstyle:disabled {
  cursor: auto;
  color: grey;
}

.cvsbtn {
  font-size: 16px;
  font-weight: 800;
  padding: 5px;
  border-radius: 8px;
  border: none;
  margin-bottom: 10px;
  background-color: var(--light-gray);
}
.cvsbtn:hover {
  border: 3px solid var(--light-gray);
  background-color: white;
  color: var(--deep-gray);
}
.cvsinput {
  margin-bottom: 5px;
  background-color: white;
}
/* 下花邊 */
.wall {
  margin: 40px 0 0 0;
  height: fit-content;
}
.wall img {
  margin: 0;
  width: 100%;
  height: auto;
}

@media screen and (max-width: 414px) {
  .roof {
    overflow: hidden;
    width: 100%;
    height: 75px;
  }
  .roof img {
    height: 75px;
    max-width: initial;
    overflow-x: hidden;
  }
  /* 步驟 */
  .step {
    margin-bottom: 15px;
  }
  .stepbg {
    background-size: 170%;
    background-position: right;
    width: 90%;
    height: 95px;
  }
  .step .nextto:nth-child(1) h1 {
    font-size: 32px;
  }
  .step .nextto:nth-child(n + 2) h1 {
    font-size: 32px;
  }
  .step .nextto:nth-child(1) h2 {
    margin-top: 12px;
    font-size: var(--font-size-p);
    height: 100%;
    margin-right: 6px;
  }
  .step .nextto:nth-child(n + 2) h2 {
    margin-top: 0px;
    font-size: var(--font-size-p);
    width: 50px;
  }
  .everystep {
    letter-spacing: 4px;
    margin-left: 0;
  }
  /* 填寫資料 */
  .writemessage {
    flex-direction: column;
    margin: 0px 20px;
    width: 90%;
    border-radius: 10px 10px 0 0;
    overflow-x: hidden;
  }
  .writemessageleft {
    width: 100%;
    height: fit-content;
  }

  .writemessageleft > div:nth-child(1) {
    margin-bottom: 40px;
  }
  .writemessageleft > div:nth-child(2) {
    margin-bottom: 40px;
  }
  .carttopstyle1 {
    width: 100%;
    height: 30px;
    border-radius: 10px 10px 0 0;
  }
  .carttopstyle1 > div {
    font-size: var(--font-size-p);
  }
  .cartbottomstyle div {
    font-size: 14px;
  }
  .checkboxstyle {
    width: 13px !important;
    position: relative;
    top: 7px;
  }
  .checklinestyle > .spanstyle {
    font-size: 14px !important;
  }
  .cartbottomstyle > div {
    display: block;
  }
  .cartbottomstyle > div input,
  .cartbottomstyle > div select,
  .cartbottomstyle > div textarea {
    width: 100%;
    font-size: 12px;
    border: 1px;
    margin-top: 5px;
    height: 25px;
  }
  .writeaddress > div:nth-child(2) {
    width: 100%;
  }
  .writeaddressright {
    margin-bottom: 5px;
  }
  .writeaddressright > div {
    width: 50%;
  }
  .writeaddress select {
    width: 90% !important;
  }
  .cartbottomstyle > div textarea {
    height: 65px;
    line-height: 25px;
  }
  .writemessageleft > div:nth-child(3) > div:nth-child(2) {
    height: fit-content;
  }
  .writebill > div {
    flex-direction: column;
  }
  .writebill > div:nth-child(1) {
    margin-bottom: 10px;
  }
  .writebill > div > div:nth-child(2) {
    width: 100%;
    margin-bottom: 10px;
  }
  .cartbottomstyle > div input {
    margin-bottom: 10px;
  }
  .itemscroll {
    overflow-y: initial;
  }
  .writemessageright {
    width: 100%;
    height: fit-content;
    margin-top: 40px;
    margin-bottom: 0px;
  }
  .carttopstyle1 {
    font-size: var(--font-size-p);
    width: 100%;
    height: 30px;
    border-radius: 10px 10px 0 0;
  }
  .cartbottomstyle {
    font-size: 14px;
    padding: 15px;
  }
  .writemessageright .cartbottomstyle {
    height: 250px;
  }
  .writemessageright .cartbottomstyle div {
    display: flex;
  }

  .buttonstyle {
    width: 28%;
    height: fit-content;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: 600;
    box-shadow: 0 0.1rem #dfd9d9;
  }
  .iconstyle1 {
    width: 16px;
  }

  .iconstyle2 {
    width: 16px;
  }
  .wall {
    width: 100%;
    overflow: hidden;
    height: fit-content;
  }
  .wall img {
    width: 180%;
  }
}
