.section {
  margin-top: 3.75rem;
  width: 100%;
  margin-bottom: 0rem;
  height: auto;
}

.p {
  padding: 0rem;
  margin-bottom: 0rem;
}

.content {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: var(--white);
  z-index: 2;
  padding: 3%;
  box-shadow: 0.25rem 0.25rem 0.625rem rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 2;
}
/* 按鈕原始css */
.cta {
  border: none;
  background: var(--white);
  height: 3.125rem;
  width: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3.125rem;
  padding-top: 0.1875rem;
  box-shadow: 0.25rem 0.25rem 0.625rem rgba(0, 0, 0, 0.2);
}

.cta span {
  letter-spacing: 0.25rem;
  font-size: 0.875rem;
  padding-right: 0.9375rem;
  text-transform: uppercase;
}

.cta svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: black;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 0.125rem;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* 產品資料 */
/* 產品標題區 */
.product-info {
  margin-top: 1rem;
}
.product-info h1 {
  margin-top: 1rem;
  color: var(--deep-blue);
  font-weight: bold;
}
.product-info h2 {
  margin-top: 1rem;
  font-size: 1.625rem;
  color: var(--bs-gray-700);
}
.input-group {
  margin-top: 1rem;
  position: relative;
}
.product-info .cta {
  width: 100%;
  margin-top: 1rem;
  background: var(--khaki);
}
.product-info .cta:hover {
  color: var(--white);
  background: var(--deep-blue);
}
.product-info .cta:hover span {
  color: var(--white);
}
.product-info .cta:hover svg {
  fill: var(--white);
}
.cta:hover .hover-underline-animation:after {
  background-color: var(--white);
}
.footprint-banner {
  width: 100%;
  height: 3.125rem;
  margin-top: 1.25rem;
}
.footprint-banner img {
  width: 100%;
}
/* 產品內容區 */
.product-description-title {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 1.25rem;
}
.product-description-title img {
  width: 80%;
}
.product-description-title p {
  width: 100%;
  margin-top: 1.25rem;
  line-height: 1.5625rem;
}
/* 產品評論區 */
.product-reviews-title {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 1.25rem;
}
.product-reviews-title img {
  width: 80%;
}
.product-reviews-title p {
  width: 100%;
  margin-top: 1.25rem;
}
.hr {
  width: 100%;
  height: 0.1875rem;
  background-color: black;
  margin-top: 0rem;
  margin-bottom: 0rem;
}
.product-reviews-info{
  width: 100%;
}
.product-reviews-info p {
  margin-top: 0.9rem;
  width: 100%;
}
.reviews-date {
  text-align: right;
  border-bottom: 0.1875rem dashed var(--bs-border-color);
  margin-bottom: 0.625rem;
  border-top: var(--bs-border-width);
}
/* 我的評論 */
.product-my-comment {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 1.25rem;
}
.product-my-comment img {
  width: 80%;
}
.product-my-comment hr {
  margin-top: 0rem;
}
.my-comment-form {
  width: 100%;
  margin-top: 1.2rem;
}
.fs-6 {
  font-size: 1.2rem !important;
}
.label {
  margin-bottom: 1rem;
}
.my-comment-form .form-control {
  border-width: 0 0 0.125rem 0;
  border-color: var(--bs-border-color);
  border-radius: 0;
  font-size: 1.2rem;
  width: 100%;
}
.accordion-body textarea {
  resize: none;
}
.accordion-body .cta {
  width: 100%;
  background: var(--khaki);
  margin-top: 1.2rem;
}
.accordion-body .cta:hover {
  color: var(--white);
  background: var(--deep-blue);
}
.accordion-body .cta:hover span {
  color: var(--white);
}
.accordion-body .cta:hover svg {
  fill: var(--white);
}
.accordion-button:not(.collapsed) {
  background: var(--white);
}

/* 背景狗掌區 */
.dog-palm {
  position: absolute;
  top: 4rem;
  right: 14.5rem;
  z-index: 3;
  transform: rotate(75deg) scale(0.3);
}
.dog-palm2 {
  position: absolute;
  top: 88rem;
  right: -6.5rem;
  z-index: 1;
  transform: rotate(357deg) scale(0.3);
}
.dog-palm3 {
  position: absolute;
  top: 60rem;
  right: 14rem;
  z-index: 1;
  transform: rotate(2deg) scale(0.3);
}
.dog-palm4 {
  position: absolute;
  top: 39rem;
  right: -4rem;
  z-index: 3;
  transform: rotate(262deg) scale(0.3);
  animation: information_fade-out__ycJke 1s ease infinite;
  display: none;
}
.dog-palm5 {
  position: absolute;
  top: 110rem;
  right: 14rem;
  z-index: 1;
  transform: rotate(180deg) scale(0.3);
  animation: fade-out 2s ease infinite;
}
.dog-palm6 {
  position: absolute;
  top: 150rem;
  right: -6.5rem;
  z-index: 1;
  transform: scale(0.3);
  animation: fade-out 3s ease infinite;
}
.dog-footprints {
  position: absolute;
  top: 103rem;
  right: 9rem;
  z-index: 1;
  transform: scale(0.5);
}
@keyframes fade-out {
  0% {
    opacity: 1; /* 初始不透明度为 1 */
  }
  50% {
    opacity: 0.5; /* 末尾不透明度为 0 */
  }
  100% {
    opacity: 0; /* 末尾不透明度为 0 */
  }
}
/* 裝飾字 */
.decorative-area {
  background: var(--light-blue);
  border-top: 0.625rem solid var(--white);
  border-bottom: 0.625rem solid var(--white);
  height: auto;
  margin-top: 3.75rem;
}
.decorative-words {
  width: 100%;
  height: auto;
  text-align: center;
}
.comment .decorative-words-img {
  display: none;
}
.decorative-words-info {
  background: none;
  box-shadow: none;
  flex-direction: column;
  align-items: center;
}
.decorative-words-info p:nth-child(1) {
  color: var(--white);
  font-size: 2.5rem;
}
.decorative-words-info p:nth-child(2) {
  color: var(--white);
  font-size: 1.5625rem;
  text-align: center;
}
/* 相關商品 */
.recommend {
  background: var(--yellow);
  height: auto;
  padding: 1rem 0rem;
  z-index: 3;
  position: relative;
}
.frame {
  background: var(--light-yellow);
}
.related-products-card {
  width: 100%;
  border-radius: 3.125rem;
}
.related-products-card img {
  width: 200%;
  border-radius: 0.4rem;
}
.swiper-div {
  width: 100%;
  height: 120px; /* 您可以根据需要调整高度 */
  display: flex;
  justify-content: center;
}
.swiper-img {
  width: 200%;
  height: 120px; /* 您可以根据需要调整高度 */
  object-fit: cover;
}

/* 電腦版 */
@media screen and (min-width: 1025px) {
  .content {
    justify-content: space-between;
    border-radius: 3.125rem;
    width: 65%;
  }

  /* 產品資料 */
  /* 產品標題區 */
  .product-info {
    margin-top: 3.125rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .product-title {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  .product-quantity {
    width: 35%;
    display: flex;
    flex-wrap: wrap;
  }
  .product-quantity h2 {
    width: 20%;
  }
  .product-quantity .input-group {
    width: 80%;
    height: 1.875rem;
    margin-top: 0.3125rem;
  }

  /* 產品內容區 */
  .product-description-title {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 1.25rem;
    align-items: flex-start;
  }

  .product-description-title img {
    width: 30%;
  }
  .product-description-title p {
    width: 100%;
    margin-top: 2rem;
    line-height: 3.125rem;
  }

  /* 產品評論區 */
  .product-reviews-title {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 1.25rem;
    align-items: flex-start;
  }

  .product-reviews-title img {
    width: 30%;
  }
  .product-reviews-title {
    width: 100%;
    margin-top: 1.25rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .product-reviews-title p {
    width: 11%;
    margin-top: 4.5rem;
  }
  .hr {
    width: 100%;
    height: 0.1875rem;
    background-color: black;
    margin-top: 0.5rem;
  }
  .product-reviews-info {
    width: 100%;
  }
  .product-reviews-info p {
    margin-top: 0.9rem;
    width: 100%;
  }
  .reviews-date {
    text-align: right;
    border-bottom: 0.1875rem dashed var(--bs-border-color);
    margin-bottom: 0.625rem;
    border-top: var(--bs-border-width);
  }
  /* 背景狗掌區 */
  .dog-palm {
    position: absolute;
    top: 25rem;
    left: -2rem;
    z-index: 1;
    transform: rotate(75deg) scale(1);
  }
  .dog-palm2 {
    top: 95rem;
    right: 0rem;
    transform: scale(1);
  }
  .dog-palm3 {
    top: 170rem;
    left: -2rem;
    transform: rotate(2deg) scale(1);
    z-index: 2;
  }
  .dog-palm4 {
    top: 40rem;
    right: 1rem;
    transform: rotate(180deg) scale(1);
    z-index: 1;
    display: block;
  }
  .dog-palm5 {
    top: 115rem;
    left: -2rem;
    transform: rotate(248deg) scale(0.8);
  }
  .dog-palm6 {
    top: 150rem;
    right: -0.5rem;
    transform: rotate(354deg) scale(0.8);
    z-index: 2;
  }
  .dog-footprints {
    top: 70rem;
    right: 98rem;
    transform: scale(1);
  }
  /* 我的評論 */
  .product-my-comment {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 1.25rem;
    align-items: flex-start;
  }
  .product-my-comment img {
    width: 30%;
  }
  .product-my-comment hr {
    margin-top: 0rem;
  }
  .accordion-body .cta {
    width: 25%;
    margin-top: 2rem;
  }
  .project {
    width: 48% !important;
  }
  .my-comment-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  /* 裝飾字 */
  .decorative-area {
    background: none;
    border-top: 0rem solid var(--white);
    border-bottom: 0rem solid var(--white);
  }
  .comment {
    position: relative;
  }
  .comment .decorative-words-img {
    width: 100%;
    height: 71.5rem;
    position: absolute;
    z-index: -1;
    top: 0rem;
    display: inline;
  }
  .decorative-words-info {
    margin-bottom: 1.25rem;
    padding: 2% !important;
  }
  .decorative-words-info p:nth-child(1) {
    font-size: 6.25rem;
  }
  .decorative-words-info p:nth-child(2) {
    font-size: 3.125rem;
  }
  /* 相關商品 */
  .related-products-card img {
    width: 50%;
    border-radius: 0.4rem;
  }
  .swiper-div {
    width: 100%;
    height: 300px; /* 您可以根据需要调整高度 */
    display: flex;
    justify-content: center;
  }
  .swiper-img {
    width: 50%;
    height: 300px; /* 您可以根据需要调整高度 */
    object-fit: cover;
  }
}
