.section {
  margin-top: 0rem;
  margin-bottom: 0rem;
  width: 100%;
  position: relative;
  height: auto;
}

.p {
  padding: 0rem;
}

.content {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}
/* 按鈕原始css */
.cta {
  border: none;
  background: var(--white);
  height: 3.125rem;
  width: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3.125rem;
  padding-top: 0.1875rem;
  box-shadow: 0.25rem 0.25rem 0.625rem rgba(0, 0, 0, 0.2);
}

.cta span {
  letter-spacing: 0.25rem;
  font-size: 0.875rem;
  padding-right: 0.9375rem;
  text-transform: uppercase;
}

.cta svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: black;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 0.125rem;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* 搜尋數 */
.search-results {
  width: 100%;
}
.search-results h5 {
  font-size: 1rem;
  margin-top: 0.3rem;
  margin-bottom: 0rem;
  font-weight: bold;
  color: var(--bs-gray-700);
}
.search-results img {
  width: 100%;
}
.dog-silhouette {
  width: 15%;
}
.search {
  height: 4rem;
}

/* 商品選單 */
.products-menu {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-left: 1rem;
  margin-bottom: 0rem;
}
.products-menu li {
  margin-right: auto;
  margin-bottom: 2.5rem;
  background: var(--light-gray);
  width: 45%;
}
.products-menu li:hover {
  transform: scale(1.05);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  background: var(--khaki);
}
.products-card {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: relative;
}

.products-card .card-img{
  z-index: 2;
}
.card-img-hover{
  position: absolute;
  z-index: 1;
}
.products-card:hover .card-img-hover{
  z-index: 3;
}
.products-card img {
  width: 100%;
}
.products-card p:nth-child(2) {
  text-align: left;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  margin-top: 0.625rem;
  margin-bottom: 0rem;
}
.products-card p:nth-child(3) {
  padding-left: 0.625rem;
  padding-right: 0.9375rem;
  margin-bottom: 0.625rem;
}
.products-card div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0rem;
}
.products .content {
  flex-direction: column;
}
.wp-pagenavi {
  margin: 0rem auto;
}
.cart-btn #arrow-horizontal {
  height: 1.375rem;
  width: 2.9375rem;
}
.cart-btn {
  background: none;
  border: none;
  position: relative;
  display: inline-block;
}
.cart-btn #arrow-horizontal {
  fill: var(--deep-gray);
}
.cart-btn::before {
  content: '加入購物車'; /* 設置偽元素的內容 */
  position: absolute; /* 絕對定位，相對於父容器 */
  top: 0.2rem; /* 距離按鈕頂部的距離 */
  left: 50%; /* 水平置中 */
  transform: translateX(18%); /* 將偽元素水平置中 */
  padding: 0.1875rem 0.5rem; /* 文字框的內邊距 */
  background-color: var(--deep-blue); /* 背景色 */
  color: white; /* 文字顏色 */
  border-radius: 0.25rem; /* 圓角 */
  opacity: 0; /* 初始透明度為0，不可見 */
  transition: opacity 0.3s ease; /* 添加過渡效果 */
  width: 5.5rem;
  font-size: 0.8rem;
}
.cart-btn:hover {
  transform: scale(1.05);
}
.cart-btn:hover svg path {
  fill: var(--deep-blue); /* 將SVG的填充颜色设置為文字框的背景颜色 */
}
.cart-btn:hover svg {
  transform: scale(1.05);
}

.cart-btn:hover::before {
  opacity: 1; /* 當游標懸停時，將透明度設為1，顯示偽元素 */
}
/* 背景狗掌區 */
.dog-palm {
  position: absolute;
  top: -7rem;
  right: 12.5rem;
  z-index: 1;
  transform: rotate(75deg) scale(0.5);
}
.dog-palm2 {
  position: absolute;
  top: 52rem;
  right: -6rem;
  z-index: 1;
  transform: scale(0.3);
}
.dog-palm3 {
  position: absolute;
  top: 33.5rem;
  right: 14rem;
  z-index: 1;
  transform: rotate(2deg) scale(0.3);
}
.dog-palm4 {
  position: absolute;
  top: 14rem;
  right: -6rem;
  z-index: 1;
  transform: rotate(180deg) scale(0.3);
  animation: fade-out 1s ease infinite;
}
.dog-palm5 {
  position: absolute;
  top: 71rem;
  right: 14rem;
  z-index: 1;
  transform: rotate(180deg) scale(0.3);
  animation: fade-out 2s ease infinite;
}
.dog-palm6 {
  position: absolute;
  top: 90rem;
  right: -6rem;
  z-index: 1;
  transform: scale(0.3);
  animation: fade-out 3s ease infinite;
}
.dog-footprints {
  position: absolute;
  top: 99rem;
  right: -3.8rem;
  z-index: 1;
  transform: scale(0.5);
}
@keyframes fade-out {
  0% {
    opacity: 1; /* 初始不透明度为 1 */
  }
  50% {
    opacity: 0.5; /* 末尾不透明度为 0 */
  }
  100% {
    opacity: 0; /* 末尾不透明度为 0 */
  }
}
/* 裝飾字 */
.decorative-words-img2 {
  width: 100%;
}
.decorative-words-info {
  width: 100%;
  background-color: var(--light-blue);
  text-align: center;
  height: 11.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 0.625rem solid var(--white);
  border-bottom: 0.625rem solid var(--white);
}
.decorative-words-info p:nth-child(1) {
  padding: 0rem;
  margin-top: 0.3125rem;
  font-size: 1.1rem;
  color: var(--white);
}
.decorative-words-info p:nth-child(2) {
  font-size: 1.1rem;
  color: var(--white);
  margin-bottom: 0rem;
}
.decorative-words-info .emphasize {
  font-size: 2.5rem;
}
.decorative-words-info .cta {
  width: 80%;
  margin-top: 0.3125rem;
  background: var(--yellow);
  height: 40px;
}
.decorative-words-info .cta:hover {
  color: var(--white);
  background: var(--deep-blue);
}
.decorative-words-info .cta:hover span {
  color: var(--white);
}
.decorative-words-info .cta:hover svg {
  fill: var(--white);
}
.cta:hover .hover-underline-animation:after {
  background-color: var(--white);
}
/* 推薦浪浪 */
.recommend {
  background: var(--yellow);
  height: auto;
  padding: 1rem 0rem;
  z-index: 3;
  position: relative;
}
.frame {
  background: var(--light-yellow);
}
.related-products-card {
  width: 100%;
  border-radius: 3.125rem;
}
.related-products-card img {
  width: 100%;
  border-radius: 0.4rem;
}
.swiper-img {
  width: 100%;
  height: 100px; /* 您可以根据需要调整高度 */
  object-fit: cover;
}

/* 電腦版 */
@media screen and (min-width: 1025px) {
  /* 搜尋數 */
  .search-results h5 {
    font-size: 1.5rem;
    margin-left: 0.75rem;
    margin-top: 2.5rem;
    font-weight: bold;
  }
  .dog-silhouette {
    width: 10%;
  }
  .search {
    height: 10rem;
  }
  /* 商品選單 */
  .products-menu {
    padding-left: 3.4375rem;
    width: 90%;
  }
  .products-menu li {
    margin-right: 4rem;
    width: 20%;
  }
  .products-card img {
    width: 100%;
  }
  .cart-btn #arrow-horizontal {
    height: 1.6875rem;
  }
  .cart-btn::before {
    width: 7.5rem;
    padding: 0.3125rem 0.75rem;
  }
  .wp-pagenavi {
    margin: 4rem 0rem 0rem 0rem;
  }
  /* 背景狗掌區 */
  .dog-palm {
    position: absolute;
    top: -1rem;
    left: -2rem;
    z-index: 1;
    transform: rotate(75deg) scale(1);
  }
  .dog-palm2 {
    top: 35rem;
    right: 0rem;
    transform: scale(1);
  }
  .dog-palm3 {
    top: 65rem;
    left: -2rem;
    transform: rotate(2deg) scale(1);
  }
  .dog-palm4 {
    top: 8rem;
    right: -0.5rem;
    transform: rotate(180deg) scale(0.5);
  }
  .dog-palm5 {
    top: 35rem;
    left: -2rem;
    transform: rotate(248deg) scale(0.5);
  }
  .dog-palm6 {
    top: 65rem;
    right: -0.5rem;
    transform: rotate(54deg) scale(0.5);
  }
  .dog-footprints {
    top: 68rem;
    right: 18rem;
    transform: scale(1);
  }
  /* 裝飾字 */
  .decorative-words-info {
    background-image: url(/img/menu/Productpage-decorative-words2.svg);
    background-color: var(--bg-color);
    background-size: cover; /* 讓背景圖片覆蓋整個元素 */
    background-repeat: no-repeat; /* 不重複背景圖片 */
    height: 30rem;
    border-top: 0rem;
    border-bottom: 0.625rem solid var(--white);
  }
  .decorative-words-info p:nth-child(1) {
    padding: 9rem 0rem 0rem 0rem;
    font-size: 2.5rem;
    margin-top: 0rem;
  }
  .decorative-words-info .emphasize {
    font-size: 5rem;
  }
  .decorative-words-info p:nth-child(2) {
    font-size: 2.5rem;
  }
  .decorative-words-info .cta {
    width: 10%;
    margin-top: 0.625rem;
  }
  /* 推薦浪浪 */
  .recommend {
    padding: 1.875rem 0rem;
  }
  .related-products-card img {
    padding: 1.875rem;
    border-radius: 4rem;
  }

  .swiper-img {
    height: 300px; /* 您可以根据需要调整高度 */
  }
}
