.foot {
  position: absolute;
  height: 6.25rem;
  width: 6.25rem;
  z-index: 0;
}

.print {
  display: none;
}

.location {
  height: auto;
background-color: var(--creamy-yellow);
}

.location .foot {
  position: absolute;
  height: 7rem;
  width: 7rem;
  top: 79%;
  left: 63%;
  margin: 0rem;
  animation: changeColor1 3s infinite alternate, scaleAnimation1 2s infinite alternate;
}
@keyframes changeColor1 {
  0% {
    filter: hue-rotate(0deg) ;
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
@keyframes scaleAnimation1 {
  0% {
    transform: scale(1) rotate(-80deg);
  }
  50% {
    transform: scale(1.2)rotate(-160deg);
  }
  100% {
    transform: scale(1)rotate(-80deg);
  }
}
.location .foot:nth-child(2) {
  position: absolute;
  height: 7rem;
  width: 7rem;
  top: 60%;
  left: 10%;
  animation: changeColor 3s infinite alternate, scaleAnimation 2s infinite alternate;
}
@keyframes changeColor {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
@keyframes scaleAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.location .container {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
  justify-content: center;
  margin: 0rem auto;
  
}

.location .space-left {
  display: flex;
  flex-direction: column;
}

.location .space-right {
  z-index: 2;
  margin: 10% auto;
}
.location .space-right h1 {
  color: var(--orange);
  font-size:2rem;
  margin:0; 
  font-weight: bolder;
}
.location .space p {
  width: 95%;
  margin:1rem auto;
  line-height: 1.2rem;
  letter-spacing: 0.3rem ;
  color: var(--reddish-brown);
  font-size: 0.9rem;
  font-weight: bolder;
}

.location .place-img {
  border-radius: 1.25rem;
  width: 100%;
  height: 80%;
}

.save {
  height: auto;
  background-color: white;
}

.save .container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
  margin: 0rem auto;
}

.save .foot {
  position: absolute;
  height: 8rem;
  width: 8rem;
  top: 52%;
  left: 58%;
  transform: rotate(-180deg);
  animation: changeColor 3s infinite alternate, scaleAndRotateAnimation 2s infinite alternate;
}
@keyframes changeColor {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

@keyframes scaleAndRotateAnimation {
  0% {
    transform: scale(1) rotate(-80deg);
  }
  50% {
    transform: scale(1.2) rotate(-160deg);
  }
  100% {
    transform: scale(1) rotate(-80deg);
  }
}
.save .space-right {
  order: 2;
  z-index: 3;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.save .space-left-two {
  display: flex;
  flex-direction: column;
  z-index: 2;
  margin-top: 2rem;
}

.save .place-img {
  border-radius: 1.25rem;
  width: 100%;
  height: 100%;
}

.save .start h1{
  color: var(--orange);
  font-size:2rem;
  margin:0;
  font-weight: bolder;
}

.save .start p {
  width: 95%;
  margin:1rem auto;
  line-height: 1.2rem;
  letter-spacing: 0.3rem ;
  color: var(--reddish-brown);
  font-size: 0.9rem;
  font-weight: bolder;
}
.address {
  height: 33rem;
background-color: var(--creamy-yellow);

}

.address .container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80%;
  height: 100%;
  margin: 0rem auto;
}

.address .foot {
  position: absolute;
  height: 8rem;
  width: 8rem;
  top: 68%;
  left: 60%;
  animation: changeColor 3s infinite alternate, scaleAndRotateAnimation 2s infinite alternate;
}
@keyframes changeColor {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

@keyframes scaleAndRotateAnimation {
  0% {
    transform: scale(1) rotate(-80deg);
  }
  50% {
    transform: scale(1.2) rotate(-80deg);
  }
  100% {
    transform: scale(1) rotate(-80deg);
  }
}
.address .print {
  display: flex;
  position: absolute;
  height: 10rem;
  width: 10rem;
  top: 35%;
  left: -5%;
  z-index:0;
  animation: scaleAndRotateAnimation 2s infinite alternate;
}
@keyframes scaleAndRotateAnimation {
  0% {
    transform:  rotate(100deg);
  }
  50% {
    transform: rotate(100deg);
  }
  100% {
    transform: rotate(100deg);
  }
}
.address .address-left {
  width: 100%;
  height: 50%;
  z-index: 2;
  margin-top: 2rem;
}

.address .address-left iframe {
  width: 100%;
  height: 100%;
}

.address .address-right {
  width: 100%;
  height: 30%;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.address .address-right h1 {
  display: none;
  color: var(--orange);
}

.address .tainan {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.address .tainan h2 {
  color:var(--orange);
  font-weight:bolder;
} 
.address .tainan h4 {
  font-weight:bolder;
  letter-spacing:0.1875rem;
}
.address p {
  letter-spacing:0.15rem;
  line-height: 1.875rem;
  font-weight:bolder;
  margin: 0rem;
}

.address .socail {
  width: 100%;
  height: 15%;
  display: none;
  justify-content: space-between;
  align-items: center;
}
.address .socail a{
  display: flex;
  justify-content: center;
}
.address .socail img {
  width: 60%;
}
.fond-us {
  background-color: white;
  height: auto;
}
.fond-us .container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
  margin: 0rem auto;
}

.fond-us .foot {
  position: absolute;
  height: 5rem;
  width: 5rem;
  top: 26%;
  left: 72%;
  z-index: 1;
  transform: rotate(-80deg);
}

.fond-us .foot:nth-child(2) {
  position: absolute;
  height: 5rem;
  width: 5rem;
  top: 58%;
  left: 72%;
  z-index: 1;
  transform: rotate(-80deg);
}

.fond-us .foot:nth-child(3) {
  position: absolute;
  height: 5rem;
  width: 5rem;
  top: 90%;
  left: 72%;
  z-index: 1;
  transform: rotate(-80deg);
}

.fond-us .single-blog-area {
  height: 25rem;
  margin: 3rem 0rem;
  background-color: var(--creamy-yellow);
  padding-bottom: 2rem;
  border-radius: 3%;
  box-shadow: 0.3125rem 0.5rem 0.125rem rgba(0, 0, 0, 0.2);
}

.fond-us .single-blog-thumbnail {
  width: 100%;
  height: 60%;
}

.fond-us .single-blog-thumbnail img {
  width: 100%;
  height: 100%;
  border-radius: 3%;
}
.fond-us .place-title{
    width: 90%;
    margin: 1rem auto;
    color:var(--orange);
    font-weight:bolder;
}

.fond-us .single-blog-content {
  margin-top: 1rem;
  margin-left: 1rem;
  width: 80%;
  height: 28%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.fond-us .single-blog-content h4{
  margin: 0rem;
  font-size: 1.5rem;
  font-weight: bolder;
  color: var(--orange);
}
.fond-us .single-blog-content p{
  margin: 0rem;
  font-weight: bolder;
}
.fond-two {
  background-color: white;
  height: auto;
}
.fond-two .container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
  margin: 0rem auto;
}

.fond-two .foot {
  position: absolute;
  height: 5rem;
  width: 5rem;
  top: 34%;
  left: 72%;
  z-index: 1;
  transform: rotate(-70deg);
}

.fond-two .foot:nth-child(2) {
  position: absolute;
  height: 5rem;
  width: 5rem;
  top: 84%;
  left: 72%;
  z-index: 1;
  transform: rotate(-80deg);
}

.fond-two .single-blog-area {
  height: 25rem;
  margin-bottom: 3rem;
  background-color: var(--creamy-yellow);
  padding-bottom: 2rem;
  border-radius: 3%;
  box-shadow: 0.3125rem 0.5rem 0.125rem rgba(0, 0, 0, 0.2);
}

.fond-two .single-blog-thumbnail {
  width: 100%;
  height: 60%;
}

.fond-two .single-blog-thumbnail img {
  width: 100%;
  border-radius: 3%;
}

.fond-two .single-blog-content {
  margin-top: 1rem;
  margin-left: 1rem;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.fond-two .single-blog-content h4{
  margin: 0rem;
  font-size: 1.5rem;
  font-weight: bolder;
  color: var(--orange);
}
.fond-two .single-blog-content p{
  margin: 0rem;
  font-weight: bolder;
}
.carousel {
  height: 9rem;
  width: 100%;
  margin: 0rem;
  position: relative;
}

.carousel .swiper {
  width: 100%;
}
.carousel .swiper-slide {
  margin: 0rem;
}
.carousel .swiper-slide img {
  width: 100%;
  border-radius: 0rem;
  border: 0rem solid var(--light-gray);
}
.carousel .swiper-slide .adopt-title {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
  height: 30%;
  top: 35%;
  left: 50%;
}
.carousel .heart {
  font-size: 1rem;
  letter-spacing: 0.5rem;
  color: var(--orange);
  margin-bottom: 0.1rem;
}
.carousel .ml3 {
  display: flex;
  font-weight: bolder;
  font-size: 1rem;
  color: var(--orange);
  letter-spacing: 0.5rem;
}
.carousel .ml3 .letter {
  font-weight: bolder;
  font-size: 1rem;
}
.carousel .btn {
  position: absolute;
  top: 70%;
  left: 70%;
  width: 25%;
  height: 25%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
}
.carousel .swiper-slide .btn a {
  font-size: 0.9375rem;
  color: var(--orange);
  text-decoration: none;
}
.carousel .swiper-slide .btn .icon{
  width: 10%;
  margin-left:0.5rem;
}
@media screen and (min-width: 1025px) {
  .container {
    width: 80%;
    display: flex;
    height: 30rem;
    align-items: stretch;
    justify-content: space-between;
  }

  .place {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .location {
    height: 37rem;
    margin: 0% auto;
  }
  .location .container {
    position: relative;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
  }

  .location .foot:nth-child(1) {
    width: 12.5rem;
    height: 12.5rem;
    top: 60%;
    left: 87%;
    z-index: 0;
    transform: rotate(-90deg);
  }

  .location .foot:nth-child(2) {
    width: 12.5rem;
    height: 12.5rem;
    transform: rotate(-0deg);
    top: 5%;
    left: 55%;
    z-index: 0;
  }

  .location .space-left {
    width: 45%;
    height: 80%;
    margin: auto;
    justify-content: center;
    z-index: 1;
  }
  .location .space-left  .place-img{
    height: 100%;
  }
  .location .space {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .location .space-right {
    width: 40%;
    height: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
  }

  .location .space-right h1 {
    text-align: center;
  }

  .location .space p {
    line-height: 2rem;
    font-size: 1.125rem;
    font-weight: bolder;
  }
  .save{
    height: 37rem;
  }
  .save .container {
    background-color: white;
    flex-direction: row;
  }

  .save .space-left-two {
    width: 45%;
    height: 80%;
    margin: auto;
    justify-content: center;
    border-radius: 2.5rem;
    order: 2;
  }
  .save .space-left-two .place-img {
    width: 100%;
    height: 100%;
    margin: auto;
    justify-content: center;
    border-radius: 2.5rem;
    order: 2;
  }
  .save .space-right {
    width: 40%;
    height: 80%;
    display: flex;
    flex-direction: column;
    z-index: 2;
    margin: 6rem auto;
  }

  .save .foot:nth-child(1) {
    width: 12.5rem;
    height: 12.5rem;
    z-index: 0;
    left: 0;
    top: 50%;
    animation: changeColor 3s infinite alternate, scaleAndRotateAnimation 2s infinite alternate;
  }
  @keyframes scaleAndRotateAnimation {
    0% {
      transform: scale(1) rotate(-0deg);
    }
    50% {
      transform: scale(1.2) rotate(-80deg);
    }
    100% {
      transform: scale(1) rotate(-50deg);
    }
  }
  .save .foot:nth-child(2) {
    position: absolute;
    width: 12.5rem;
    height: 12.5rem;
    transform: rotate(170deg);
    z-index: 0;
    left: 30%;
    top: 5%;
    transform: rotate(110deg);
  }

  .save .start {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    letter-spacing: 0.1875rem;
  }

  .save .start p {
    line-height: 2rem;
    font-size: 1.125rem;
    font-weight: bolder;
  }

  .address {
    margin: 0;
    height: 37rem;
  }

  .address .container {
    flex-direction: row;
  }

  .address .print {
    width: 13rem;
    height: 13rem;
    z-index: 1;
    top: 15%;
    left: 50%;

    animation:scaleAndRotateAnimation1 2s infinite alternate;
  }
  @keyframes scaleAndRotateAnimation1 {
    0% {
      transform: scale(1) rotate(-20deg);
    }
    50% {
      transform: scale(1.1) rotate(-20deg);
    }
    100% {
      transform: scale(1) rotate(-20deg);
    }
  }
  .address .foot {
    width: 9.375rem;
    height: 9.375rem;
    z-index: 0;
    top: 55%;
    left: 88%;
  }

  .address .address-left {
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 2.5rem;
    z-index: 1;
    margin: auto;
  }

  .address iframe {
    height: 90%;
    border-radius: 2.5rem;
  }
  .address .socail img {
    width: 70%;
  }
  .address .address-right {
    width: 50%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: start;
    letter-spacing: 0.625rem;
    color: var(--reddish-brown);
    z-index: 4;
    margin: auto;
  }

  .address .address-right h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25%;
  }

  .address .tainan {
    display: flex;
    height: 70%;
    width: 100%;
  }

  .address .tainan h2 {
    height: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }

  .address .tainan-p {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 20%;
  }

  .address .address-right .socail {
    width: 40%;
    height: auto;
    display: flex;
    margin-left: 20px; ;
    justify-content: space-around;
    align-items: center;
  }
  .address .address-right .socail a {
    width: 25%;
  }
  .fond-us {
    height: 37rem;
    margin: 0;
  }

  .fond-us .foot {
    width: 10rem;
    height: 10rem;
    top: 64%;
    left: 93%;
    animation: scaleAndRotateAnimation2 2s infinite alternate;
  }
  @keyframes scaleAndRotateAnimation2 {
    0% {
      transform: scale(1) rotate(-80deg);
    }
    50% {
      transform: scale(0.8) rotate(-80deg);
    }
    100% {
      transform: scale(1) rotate(-80deg);
    }
  }
  .fond-us .foot:nth-child(2) {
    width: 10rem;
    height: 10rem;
    top: 64%;
    left: 55%;
  }

  .fond-us .foot:nth-child(3) {
    width: 10rem;
    height: 10rem;
    top: 64%;
    left: 17%;
  }

  .fond-us .find-us {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 75%;
    width: 100%;
    margin: auto;
  }

  .fond-us .single-blog-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 25%;
    height: 25rem;
    background-color: var(--bright-gary);
    border-radius: 1.25rem;
  }

  .fond-us .single-blog-thumbnail {
    height: 100%;
    display: flex;
    justify-content: center;
    border-radius: 1.25rem 1.25rem 0 0;
  }

  .fond-us .single-blog-thumbnail img {
    height: 100%;
    border-radius: 1.25rem 1.25rem 0 0;
  }

  .fond-us .single-blog-content {
    width: 100%;
    height: 42%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    line-height: 1.5625rem;
    letter-spacing: 0.1rem;
    margin: 0rem 1.5rem;
  }
  .fond-us .single-blog-content p{
    margin-bottom: 0.5rem;
  }
  .fond-two {
    height: 37rem;
    margin: 0rem;
    background-color: var(--creamy-yellow);
  }

  .fond-two .foot {
    width: 10rem;
    height: 10rem;
    top: 67%;
    left: 80%;
    animation: scaleAndRotateAnimation2 2s infinite alternate;
  }
  @keyframes scaleAndRotateAnimation2 {
    0% {
      transform: scale(1) rotate(-80deg);
    }
    50% {
      transform: scale(0.8) rotate(-80deg);
    }
    100% {
      transform: scale(1) rotate(-80deg);
    }
  }
  .fond-two .foot:nth-child(2) {
    width: 10rem;
    height: 10rem;
    top: 67%;
    left: 30%;
  }

  .fond-two .find-two {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 75%;
    width: 100%;
    margin: auto;
  }
  .fond-two .single-blog-content {
    width: 100%;
    height: 38%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    line-height: 1.5625rem;
    letter-spacing: 0.1rem;
    margin: 1rem 1.5rem;
  }
  .fond-two .single-blog-thumbnail {
    height: 55%;
  }
  .fond-two .single-blog-thumbnail img {
    height: 100%;
    border-radius: 1.25rem 1.25rem 0 0;
  }
  .fond-two .single-blog-content p{
    margin-bottom: 0.5rem;
  }
  .fond-two .single-blog-area {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 25%;
    height: 100%;
    background-color: var(--white);
    border-radius: 1.25rem;
    box-shadow: 0.3125rem 0.5rem 0.125rem rgba(0, 0, 0, 0.2);
    padding: 0rem;
    margin: 0rem;
  }
  .carousel {
    display: flex;
    align-items: center;
    height: 39rem;
    background-color:white;
  }

  .carousel .swiper {
    width: 80%;
    height: 80%;
    margin: 2rem auto;
  }

  .carousel .swiper-slide {
    width: 99%;
    height: 100%;
    position: relative;
    margin: 0rem auto;
  }

  .carousel .swiper-slide img {
    display: block;
    height: 100%;
    object-fit: cover;
    border-radius: 2rem;
  }

  .carousel .swiper-slide .adopt-title {
    width: 40%;
    height: 25%;
    top: 45%;
    left: 60%;
  }
  .carousel .heart {
    font-size: 2rem;
    letter-spacing: 2rem;
    color: var(--orange);
    margin-bottom: 2rem;
  }
  .carousel .ml3 {
    font-size: 2rem;
    letter-spacing: 2rem;
  }
  .carousel .ml3 .letter {
    font-size: 2rem;
  }

  .carousel .btn {
    top: 79%;
    left: 81%;
    width: 14%;
    height: 11%;
    display: flex;
    flex-direction:row;
    align-items: center;
    background-color: var(--orange);
    padding: 0.875rem 2.5rem;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.125rem;
    cursor: pointer;
    border-radius: 0.625rem;
    border: 0.125rem dashed var(--orange);
    box-shadow: rgba(50, 50, 93, 0.25) 0rem 0.125rem 0.3125rem -0.0625rem,
      rgba(0, 0, 0, 0.3) 0rem 0.0625rem 0.1875rem -0.0625rem;
    transition: 0.4s;
  }
  .carousel .swiper-slide .btn:hover {
    transition: 0.5s;
    border: 0.125rem dashed var(--deep-gray);
    background-color: white;
  }
  .carousel .btn span:last-child {
    display: none;
  }
  .carousel .swiper-slide .btn a {
    transition: 0.4s;
    color: white;
    font-size: 1.3rem;
    width: 90%;
  }
  .carousel .swiper-slide .btn .icon{
    width: 10%;
    margin:1rem 0rem;
  }
  .carousel .swiper-slide .btn:hover a {
    transition: 0.4s;
    color: var(--orange);
  }
  .btn:active {
    background-color: #87dbd0;
  }
  .carousel .swiper-slide .btn:hover i {
    transition: 0.4s;
    color: var(--orange);
  }
}
